.page-stub {
  display: flex;
  height: 100%;
  &__content {
    margin-top: 81px;
  }
  &__hero {
    margin-bottom: 40px;
  }
  &__status-group {
    margin-bottom: 25px;
  }
  &__status-title {
    display: inline-block;
    margin-right: 12px;
    color: $body-light;
    font-size: $font-md;
    font-weight: 400;
    line-height: 150%;
  }
  &__status-data {
    padding: 2px 16px;
    border-radius: 100px;
    background-color: $white;
    font-size: 16px;
  }
  &__title {
    margin-bottom: 20px;
    color: $title-dark;
    font-size: 72px;
    font-weight: 500;
    line-height: 110%;
  }
  &__subtitle {
    margin-bottom: 20px;
    color: $body-light;
    font-size: $font-lg;
    line-height: 140%;
  }
  &__buttons-group {
    display: flex;
    gap: 24px;
  }
  &__button {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    transition: border 0.225s;
    border: 2px solid $title-dark;
    border-radius: 8px;
    background: transparent;
    color: $title-dark;
    font-size: $font-md;
    font-weight: 500;
    line-height: 130%;
    gap: 16px;
    &:hover {
      border: 2px solid #8993c1;
    }
  }
  &__button-icon {
    width: 24px;
    height: 24px;
  }
}
.main-wrapper {
  background: linear-gradient(230deg, rgba(255, 255, 255, 0.5) 54.78%, rgba(134, 99, 245, 0.5) 146.52%),
    linear-gradient(105deg, rgba(255, 255, 255, 0.4) 0%, rgba(134, 99, 245, 0.4) 104.98%), #ededf8;
}
