// stylelint-disable scss/dollar-variable-empty-line-after
.vacancy {
  $_this: &;
  &__content {
    max-width: 1008px;
    margin-bottom: 104px;
  }
  &__top-info {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 40px;
    align-self: stretch;
    column-gap: 26px;
  }
  &__info {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  &__card {
    margin-bottom: 4px;
    padding: 32px;
    border-radius: 16px;
    background: $white;
  }
  &__info-card {
    margin-bottom: 4px;
    padding: 16px;
    border-radius: 16px;
    background: $white;
  }
  &__info-left,
  &__info-right {
    display: flex;
    flex-direction: column;
  }
  &__info-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    column-gap: 18px;
  }
  &__info-key {
    display: flex;
  }
  &__info-icon {
    margin-top: 3px;
  }
  &__info-value {
    margin-left: 8px;
    color: $body-light;
    font-size: $font-md;
    line-height: 25px;
  }
  &__info-value-hidden {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 2px 8px;
    border-radius: 4px;
    background: #ebedf9;
    color: #4e5fca;
    font-size: 16px;
    line-height: 130%;
  }
  &__info-data {
    color: $title-dark;
    font-size: $font-md;
    font-weight: 400;
    line-height: 150%;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  &__time {
    color: $body-light;
    font-size: 16px;
    line-height: 24px;
  }
  &__salary {
    margin-left: 16px;
    color: $title-dark;
    font-size: 32px;
    line-height: 120%;
  }
  &__salary-hidden {
    margin-left: 16px;
    padding: 2px 8px;
    border-radius: 4px;
    color: $title-dark;
    font-size: $font-md;
    line-height: 140%;
  }
  &__company {
    display: flex;
    margin-top: 24px;
  }
  &__action-group {
    position: absolute;
    top: 24px;
    right: 24px;
  }
  &__company-logo-overlay {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 48px;
    border-radius: 8px;
    background: #f2f2f8;
  }
  &__company-image {
    padding: 2px 0;
  }
  &__company-caption {
    width: 100%;
    margin-left: 16px;
  }
  &__company-name-group {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__company-name {
    color: $title-light;
    font-size: $font-md;
    font-weight: 500;
    line-height: 150%;
  }
  &__company-address {
    display: flex;
    align-items: center;
  }
  &__address-caption {
    display: table;
    width: 100%;
    margin-left: 8px;
    table-layout: fixed;
    color: $body-light;
    font-size: $font-md;
    line-height: 25px;
  }
  &__address-truncate {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__address-count {
    margin-left: 4px;
    color: #b5b5be;
    font-size: $font-md;
    line-height: 25px;
  }
  &__sphere {
    display: flex;
    align-items: center;
    margin-top: 56px;
  }
  &__sphere-caption {
    margin-left: 8px;
    color: #111028;
    font-size: $font-md;
    line-height: 25px;
  }
  &__description-title {
    margin-bottom: 16px;
  }
  &__text-content {
    margin-bottom: 24px;
  }
  &__description-list {
    padding-left: 30px;
    list-style: disc;
  }
  &__description-list-item {
    padding: 2px 0;
    color: $body-dark;
    font-size: $font-md;
    font-weight: 400;
    line-height: 150%;
  }
  &__description-skills {
    margin-top: 40px;
  }
  &__team-info {
    display: grid;
    row-gap: 16px;
    margin-top: 40px;
  }
  &__team-row {
    display: grid;
    grid-template-columns: 168px 1fr;
    column-gap: 16px;
    font-size: $font-md;
    line-height: 25px;
  }
  &__team-data {
    color: #b5b5be;
  }
  &__team-value {
    color: $title-dark;
  }
  &__footer {
    display: flex;
    align-items: center;
    margin-top: 28px;
  }
  &__footer-group {
    display: flex;
    height: 100%;
    gap: 12px;
  }
  &__icon-favorite {
    width: 20px;
    height: auto;
    margin-right: 10px;
    transition: all 0.225s ease;
  }
  &__footer-report {
    margin-left: auto;
    cursor: pointer;
  }
  &__strike {
    margin-left: 8px;
    color: $body-light;
    font-size: $font-md;
    font-weight: 500;
    line-height: 20px;
    &:hover {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
  &__about {
    margin-bottom: 104px;
  }
  &__about-headline {
    color: $title-dark;
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
  }
  &__about-headline--v2 {
    color: $title-dark;
    font-size: 26px;
    font-weight: 500;
    line-height: 130%;
  }
  &__about-list {
    display: grid;
    row-gap: 16px;
    margin-top: 24px;
  }
  &__link {
    position: relative;
    transition: border 0.225s ease;
    border-bottom: 1px solid transparent;
    &:hover {
      border-color: inherit;
    }
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
