.vacancy {
    $_this: &;

    &__content {
        max-width: 1008px;
        margin-bottom: 104px;
    }

    &__top-info {
        align-self: stretch;
        display: grid;
        grid-template-columns: 1fr 40px;
        column-gap: 26px;
        position: relative;
    }

    &__info {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
    }

    &__card {
        padding: 32px;
        margin-bottom: 4px;
        border-radius: 16px;
        background: $white;
    }

    &__info-card {
        padding: 16px;
        margin-bottom: 4px;
        border-radius: 16px;
        background: $white;
    }

    &__info-left, &__info-right {
        display: flex;
        flex-direction: column;
    }

    &__info-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 18px;
        padding: 16px;
    }

    &__info-key {
        display: flex;
    }

    &__info-icon {
        margin-top: 3px;
    }

    &__info-value {
        font-size: $font-md;
        line-height: 25px;
        color: $title-light;
        margin-left: 8px;
    }

    &__info-value-hidden {
        font-size: 16px;
        line-height: 130%;
        padding: 2px 8px;
        color: #4e5fca;
        background: #ebedf9;
        border-radius: 4px;
        width: max-content;
        display: flex;
        align-items: center;
    }

    &__info-data {
        font-size: $font-md;
        line-height: 150%;
        font-weight: 400;
        color: $body-dark;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    &__time {
        font-size: 16px;
        line-height: 24px;
        color: $body-light;
    }

    &__salary {
        font-size: 32px;
        line-height: 120%;
        color: $title-dark;
        margin-left: 16px;
    }

    &__salary-hidden {
        font-size: $font-md;
        line-height: 140%;
        padding: 2px 8px;
        color: $title-dark;
        border-radius: 4px;
        margin-left: 16px;
    }

    &__company {
        display: flex;
        margin-top: 24px;
    }

    &__company-logo-overlay {
        flex-shrink: 0;
        display: flex;
        width: 96px;
        height: 48px;
        align-items: center;
        justify-content: center;
        background: #f2f2f8;
        border-radius: 8px;
    }

    &__company-image {
        padding: 2px 0 2px;
    }

    &__company-caption {
        width: 100%;
        margin-left: 16px;
    }

    &__company-name-group {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__company-name {
        font-size: $font-md;
        font-weight: 500;
        line-height: 150%;
        color: $title-light;
    }

    &__company-address {
        display: flex;
        align-items: center;
    }

    &__address-caption {
        font-size: $font-md;
        line-height: 25px;
        color: $body-light;
        display: table;
        table-layout: fixed;
        width: 100%;
        margin-left: 8px;
    }

    &__address-truncate {
        display: table-cell;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__address-count {
        font-size: $font-md;
        line-height: 25px;
        color: #b5b5be;
        margin-left: 4px;
    }

    &__sphere {
        display: flex;
        align-items: center;
        margin-top: 56px;
    }

    &__sphere-caption {
        font-size: $font-md;
        line-height: 25px;
        color: #111028;
        margin-left: 8px;
    }

    &__description-title {
        margin-bottom: 16px;
    }

    &__text-content {
        margin-bottom: 24px;
    }

    &__description-list {
        list-style: disc;
        padding-left: 30px;
    }

    &__description-list-item {
        padding: 2px 0;
        color: $body-dark;
        font-size: $font-md;
        font-weight: 400;
        line-height: 150%;
    }

    &__description-skills {
        margin-top: 40px;
    }

    &__team-info {
        display: grid;
        row-gap: 16px;
        margin-top: 40px;
    }

    &__team-row {
        font-size: $font-md;
        line-height: 25px;
        display: grid;
        grid-template-columns: 168px 1fr;
        column-gap: 16px;
    }

    &__team-data {
        color: #b5b5be;
    }

    &__team-value {
        color: $title-dark;
    }

    &__footer {
        margin-top: 28px;
        display: flex;
        align-items: center;
    }

    &__footer-group {
        height: 100%;
        display: flex;
        gap: 12px;
    }

    &__icon-favorite {
        width: 20px;
        height: auto;
        margin-right: 10px;
        transition: all 0.225s ease;
    }

    &__footer-report {
        margin-left: auto;
        cursor: pointer;
    }

    &__strike {
        font-size: $font-md;
        font-weight: 500;
        line-height: 20px;
        color: $body-light;
        margin-left: 8px;

        &:hover {
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }
    }

    &__about {
        margin-bottom: 104px;
    }

    &__about-headline {
        font-size: 44px;
        line-height: 130%;
        font-weight: 500;
        color: $title-dark;
    }

    &__about-headline--v2 {
        font-size: 26px;
        line-height: 130%;
        font-weight: 500;
        color: $title-dark;
    }

    &__about-list {
        display: grid;
        row-gap: 16px;
        margin-top: 24px;
    }

    &__link {
        position: relative;
        border-bottom: 1px solid transparent;
        transition: border .225s ease;

        &:hover {
            border-color: inherit;
        }
    }

}
