<div class="card">
  <aside class="card__action">
    <button class="favorite in-favorite card__action-button button-group__item" title="Remove from favorites">
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" class="favorite__icon" viewBox="0 0 28 28">
        <path
          d="m14.5 22.1-.5-.3-.5.3-6.8 4.2c-.5.3-1.1-.1-.9-.7L7.5 18l.1-.6-.4-.4-5.9-5.2c-.3-.3-.3-.6-.2-.8.1-.2.3-.4.5-.4l7.9-.7.6-.1.2-.6 2.9-7.4c.2-.5 1-.5 1.2 0l3.1 7.3.2.5.6.1 7.9.7c.2 0 .4.2.5.5.1.3 0 .6-.2.7l-5.9 5.2-.4.4.1.6 1.8 7.7c.1.3 0 .5-.2.6-.2.1-.5.2-.8 0l-6.6-4z"
        />
      </svg>
    </button>
    <button class="button-group__item" title="View statistics">
      <img width="20" height="20" alt="icon stats" src="/assets/images/pages/common/stats.svg" />
    </button>
  </aside>
  <figure class="card__header">
    <div class="card__image-overlay">
      <img class="card__image"
        alt="card image preview icon"
        src="@@vacancies_images_path__company-logo.svg"
      />
    </div>
    <figcaption class="card__header-caption">
      <a href="/page-stub.html" class="card__headline vacancy__link">Google</a>
    </figcaption>
  </figure>
	<div class="card__top-links">
		<a href="#" class="card__top-link button-link">Website</a>
		<a href="#" class="card__top-link button-link">Careers</a>
		<a href="#" class="card__top-link button-link">About</a>
		<a href="#" class="card__top-link button-link">Dev Blog</a>
	</div>
  <div class="card__info">
    <figure class="card__figure">
      <img
        class="card__icon"
        alt="card type icon"
        width="16"
        height="16"
        src="/assets/images/pages/vacancy/building.svg"
      />
      <figcaption class="card__figcaption">Product</figcaption>
    </figure>
    <figure class="card__figure">
      <img
        class="card__icon"
        alt="card type icon"
        width="16"
        height="16"
        src="/assets/images/pages/vacancy/company-type.svg"
      />
      <figcaption class="card__figcaption">HRTech</figcaption>
    </figure>
  </div>
  <p class="card__text">
    DocHQ is your wellbeing partner. As a UK employee benefits provider, our vision is to enable people to make informed
    health choices and inspire them to improve their quality of life. We are a specialist medical technology provider
    aimed at enhancing employee wellbeing at work and home - connecting businesses, providers, and consumers through
    technology.
  </p>
  <div class="card__links">
		<ul class="card__links-group">
			<li class="card__links-item card__links-item--title">
				<div class="card__links-item-group">
					<img
						class="card__links-icon"
						alt="linkedin icon"
						width="32"
						height="32"
						src="@@images_organizer_path__linkedin.svg"
					/>
					<a href="#" class="card__links-link">LinkedIn</a>
					<a href="#" class="card__links-link card__links-link--verify">
						<img
							class="card__links-icon"
							alt="icon"
							src="@@images_organizer_path__verified-icon.png"
						/>
					</a>
				</div>
			</li>
			<li class="card__links-item">
				<a href="#" class="button-link card__links-link">Overview</a>
			</li>
			<li class="card__links-item">
				<a href="#" class="button-link card__links-link">Connections</a>
				<img
					class="card__links-icon"
					alt="language icon"
					width="20"
					height="20"
					src="@@images_organizer_path__language.svg"
				/>
			</li>
			<li class="card__links-item">
				<a href="#" class="button-link card__links-link">Connections 🇺🇦</a>
			</li>
			<li class="card__links-item">
				<a href="#" class="button-link card__links-link">Jobs</a>
			</li>
		</ul>
		<ul class="card__links-group">
			<li class="card__links-item card__links-item--title">
				<div class="card__links-item-group">
					<img
						class="card__links-icon"
						alt="github icon"
						width="32"
						height="32"
						src="@@images_organizer_path__github.svg"
					/>
					<a href="#" class="card__links-link card__links-link--verify">
						<img
							class="card__links-icon"
							alt="icon"
							src="@@images_organizer_path__verified.png"
						/>
					</a>
					<a href="#" class="card__links-link">GitHub</a>
				</div>
			</li>
			<li class="card__links-item">
				<a href="#" class="button-link card__links-link">Overview</a>
			</li>
			<li class="card__links-item">
				<a href="#" class="button-link card__links-link">Repositories (3)</a>
			</li>
		</ul>
		<ul class="card__links-group">
			<li class="card__links-item card__links-item--title">
				<div class="card__links-item-group">
					<img
						class="card__links-icon"
						alt="glassdoor icon"
						width="32"
						height="32"
						src="@@images_organizer_path__glassdoor.svg"
					/>
					<a href="#" class="card__links-link">Glassdoor</a>
					<a href="#" class="card__links-link card__links-link--verify">
						<img
							class="card__links-icon"
							alt="icon"
							src="@@images_organizer_path__verified-icon-2.png"
						/>
					</a>
				</div>
			</li>
			<li class="card__links-item">
				<a href="#" class="button-link card__links-link">Overview</a>
			</li>
			<li class="card__links-item">
				<a href="#" class="button-link card__links-link">Reviews</a>
				<span class="card__links-link-star">4.2 ★</span>
			</li>
		</ul>
  </div>
	<div class="card__footer">
		<a target="_blank" href="#" class="card__footer-button button button-link">
			<div class="card__footer-images">
				<img class="card__footer-icon" alt="blind icon" width="32" height="32" src="@@images_organizer_path__blind.png" />
				<img class="card__footer-icon" alt="levels icon" width="32" height="32" src="@@images_organizer_path__levels.png" />
				<img class="card__footer-icon" alt="Indeed icon" width="32" height="32" src="@@images_organizer_path__indeed.png" />
				<img class="card__footer-icon" alt="Y Combinator icon" width="32" height="32" src="@@images_organizer_path__y-combinator.png" />
			</div>
			More on the company page
			<svg width="20" height="20" viewBox="0 0 8 12" fill="003ea6" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.999531 0.710632C0.609531 1.10063 0.609531 1.73063 0.999531 2.12063L4.87953 6.00063L0.999531 9.88063C0.609531 10.2706 0.609531 10.9006 0.999531 11.2906C1.38953 11.6806 2.01953 11.6806 2.40953 11.2906L6.99953 6.70063C7.38953 6.31063 7.38953 5.68063 6.99953 5.29063L2.40953 0.700632C2.02953 0.320632 1.38953 0.320632 0.999531 0.710632Z" fill="#003ea6"/>
			</svg>
		</a>
	</div>
</div>
