<section class="how-step">
	<div class="steps__container">
		<div class="steps__headline">How to use it</div>
		<div class="how-step__steps steps">
			<div class="steps__item">
				<div class="steps__step-number">01</div>
				<div class="steps__step-title">Explore Job Openings</div>
				<div class="steps__step-subtitle">In companies based in the USA, UK, and EU.</div>
			</div>
			<div class="steps__item steps__item--blue">
				<div class="steps__step-number">02</div>
				<div class="steps__step-title">Find Company Profiles</div>
				<div class="steps__step-subtitle">Visit the LinkedIn profiles of these companies and copy their profile links.</div>
			</div>
			<div class="steps__item steps__item--blue">
				<div class="steps__step-number">03</div>
				<div class="steps__step-title">Add to Your List</div>
				<div class="steps__step-subtitle">Paste the copied links into the tool to build your list of target companies.</div>
			</div>
			<div class="steps__item">
				<div class="steps__step-number">04</div>
				<div class="steps__step-title">Discover Professionals</div>
				<div class="steps__step-subtitle">The tool will generate links to the LinkedIn profiles of Ukrainian professionals already working in these companies.</div>
			</div>
			<div class="steps__item">
				<div class="steps__step-number">05</div>
				<div class="steps__step-title">Connect and Network</div>
				<div class="steps__step-subtitle">Reach out to these professionals to establish connections and potentially secure a recommendation for future job opportunities.</div>
			</div>
		</div>
	</div>
</section>