<section class="why-step">
	<div class="steps__container">
		<div class="steps__headline">Why use it</div>
		<div class="why-step__list">
			<div class="why-step__item">
				<div class="why-step__item-icon">
					<img src="@@images_common_path__connect-arrow.svg" alt="arrow">
				</div>
				<div class="why-step__item-content why-step__item-content--silver">
					<span class="why-step__first-word">Firstly, </span>
					finding a job in foreign companies where Ukrainians are already employed is generally easier.
				</div>
			</div>
			<div class="why-step__item">
				<div class="why-step__item-icon">
					<img src="@@images_common_path__connect-arrow.svg" alt="arrow">
				</div>
				<div class="why-step__item-content why-step__item-content--silver">
					<span class="why-step__first-word">Secondly, </span>
					your passive job search should enhance your future active job search.
				</div>
			</div>
			<div class="why-step__item">
				<div class="why-step__item-icon"></div>
				<div class="why-step__item-content">
					Even if you’re happy with your job, still build your list of companies using the tool to establish contacts with professionals and improve your network.
				</div>
			</div>
		</div>
	</div>
</section>