<section class="demo">
  <div class="container demo__container">
    <picture class="demo__picture">
      <source
        width="1216"
        height="560"
        type="image/avif"
        srcset="
          @@images_organizer_path__direct-contract-job-search-organizer.avif,
          @@images_organizer_path__direct-contract-job-search-organizer@2x.avif 2x
        "
      />
      <source
        width="1216"
        height="560"
        type="image/webp"
        srcset="
          @@images_organizer_path__direct-contract-job-search-organizer.webp,
          @@images_organizer_path__direct-contract-job-search-organizer@2x.webp 2x
        "
      />
      <source
        width="1216"
        height="560"
        media="@@minWidth"
        srcset="
          @@images_organizer_path__direct-contract-job-search-organizer.jpg,
          @@images_organizer_path__direct-contract-job-search-organizer@2x.jpg 2x
        "
      />
      <img
        class="demo__image"
        width="1216"
        height="560"
        loading="lazy"
        srcset="@@images_organizer_path__direct-contract-job-search-organizer@2x.jpg 2x"
        src="@@images_organizer_path__direct-contract-job-search-organizer.jpg"
        alt="organizer page screen"
      />
    </picture>
  </div>
</section>
