<section class="hero">
  <div class="container hero__container">
    <div class="hero__overlay">
      <div class="hero__info-wrapper">
        <div class="hero__status">
          <p class="hero__status-text">Service status:</p>
          <span class="badge badge--new">New</span>
          <span class="badge badge--work-in-progress">Work in progress</span>
        </div>
        <h1 class="hero__headline">Direct Contract Job Search Organizer</h1>
        <p class="hero__description">
          A list of useful links to simplify your job search. The basis is a list of companies searching for Golang
          developers.
        </p>
      </div>
      <div class="hero__buttons-group">
        <a target="_blank" href="#" class="button button--bordered-gray hero__button">
          <img
            width="20"
            height="20"
            src="@@images_organizer_path__go-original.svg"
            alt="go original logo"
            class="hero__button-icon"
          />
          Golang Organizer
          <div class="hero__buttons-icon-box">
            <img
              width="12"
              height="12"
              src="@@images_common_path__arrow-small-top-black.svg"
              alt="arrow black icon"
              class="hero__button-icon"
            />
          </div>
        </a>
        <a target="_blank" href="#" class="button button--bordered-gray button--bordered-gray-disabled hero__button">
          <img
            width="20"
            height="20"
            src="@@images_organizer_path__rust.svg"
            alt="go original logo"
            class="hero__button-icon"
          />
          Rust Organizer
          <div class="hero__buttons-icon-box">
            <img
              width="12"
              height="12"
              src="@@images_common_path__arrow-small-top-black.svg"
              alt="arrow black icon"
              class="hero__button-icon"
            />
          </div>
        </a>
        <a target="_blank" href="#" class="button button--bordered-gray button--bordered-gray-disabled hero__button">
          <img
            width="20"
            height="20"
            src="@@images_organizer_path__scala.svg"
            alt="go original logo"
            class="hero__button-icon"
          />
          Scala Organizer
          <div class="hero__buttons-icon-box">
            <img
              width="12"
              height="12"
              src="@@images_common_path__arrow-small-top-black.svg"
              alt="arrow black icon"
              class="hero__button-icon"
            />
          </div>
        </a>
        <a target="_blank" href="#" class="button button--bordered-gray button--bordered-gray-disabled hero__button">
          <img
            width="20"
            height="20"
            src="@@images_organizer_path__elixir.svg"
            alt="go original logo"
            class="hero__button-icon"
          />
          Elixir Organizer
          <div class="hero__buttons-icon-box">
            <img
              width="12"
              height="12"
              src="@@images_common_path__arrow-small-top-black.svg"
              alt="arrow black icon"
              class="hero__button-icon"
            />
          </div>
        </a>
        <a target="_blank" href="#" class="button button--bordered-gray button--bordered-gray-disabled hero__button">
          <img
            width="20"
            height="20"
            src="@@images_organizer_path__clojure.svg"
            alt="go original logo"
            class="hero__button-icon"
          />
          Clojure Organizer
          <div class="hero__buttons-icon-box">
            <img
              width="12"
              height="12"
              src="@@images_common_path__arrow-small-top-black.svg"
              alt="arrow black icon"
              class="hero__button-icon"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
