<section class="projects">
  <div class="container projects__container">
    <div class="projects__overlay">
      <div class="projects__about">
        <figure class="projects__readytotouch-logo">
          <img
            width="40"
            height="40"
            class="projects__readytotouch-logo-img"
            src="/assets/images/pages/online/logo.svg"
            alt="logo"
          />
          <h3 class="projects__readytotouch-logo-title">ReadyToTouch</h3>
        </figure>
        <h2 class="projects__headline">ReadyToTouch is a space to help you find jobs</h2>
        <p class="projects__description">Our projects are ReadyToTouch, u8views, Organizer, and others.</p>
        <a
          href="https://readytotouch.com/"
          target="_blank"
          class="button button--small-padding button--black projects__button"
        >
          Check them out
          <div class="organizer-card__try-btn-icon-box">
            <img width="12" height="12" alt="arrow top icon" src="@@images_common_path__arrow-small-top.svg" />
          </div>
        </a>
      </div>
      <div class="projects__group">
        <a class="projects__link" target="_blank" href="https://golang-companies-organizer.readytotouch.com/">
          <img
            class="projects__image"
            width="129"
            height="32"
            alt="organizer logo"
            src="@@images_organizer_path__golang-organizer.svg"
          />
        </a>
        <a class="projects__link" href="https://u8views.com/" target="_blank">
          <img
            class="projects__image"
            width="109"
            height="35"
            alt="u8views logo"
            src="@@images_organizer_path__u8views.svg"
          />
        </a>
        <a class="projects__link" href="https://doutivity.github.io/" target="_blank">
          <img
            class="projects__image"
            width="111"
            height="41"
            alt="doutivity logo"
            src="@@images_organizer_path__doutivity.svg"
          />
        </a>
        <a class="projects__link" href="https://json-to-proto.github.io/" target="_blank">
          <img
            class="projects__image"
            width="157"
            height="18"
            alt="JSON-to-PROTO logo"
            src="@@images_organizer_path__json_to_proto.svg"
          />
        </a>
        <a class="projects__link" href="https://xml-to-go.github.io/" target="_blank">
          <img
            class="projects__image"
            width="117"
            height="18"
            alt="XML-to-GO logo"
            src="@@images_organizer_path__xml_to_go.svg"
          />
        </a>
      </div>
    </div>
  </div>
</section>
