// stylelint-disable scss/dollar-variable-empty-line-after
.breadcrumb {
  $_this: &;
  margin-top: 24px;
  margin-bottom: 24px;
  color: $body-dark;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    font-size: 0;

    + #{$_this}__item {
      position: relative;
      &:before {
        content: '>';
        margin-right: 8px;
        margin-left: 8px;
        color: $body-dark;
        font-size: $font-sm;
        line-height: 130%;
      }
    }
  }
  &__link {
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      transition: opacity 0.225s ease;
      opacity: 0;
      background-color: $body-dark;
    }
    &:hover {
      text-decoration-skip-ink: none;
      &:after {
        opacity: 1;
      }
    }
  }
  &__link,
  &__page {
    color: $body-dark;
    font-size: $font-sm;
    font-weight: 500;
    line-height: 130%;
    white-space: nowrap;
  }
  &__page {
    color: $disabled;
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
