.button-group {
    display: grid;
    grid-template-rows: repeat(auto-fit, 48px);
    row-gap: 8px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        transition: 0.225s ease;

        &:hover {
            border-radius: 4px;
            background: #EFF2FA;
        }
    }
}
