@use 'sass:math';

// stylelint-disable scss/dollar-variable-empty-line-after
.filter-used {
  $_this: &;
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  color: #1b1b1d;

  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  &__title {
    display: flex;
    align-items: center;
    min-height: 32px;
    margin-right: 8px;
    color: color(light, outline);
    font-size: 16px;
    font-weight: 400;
    line-height: math.div(22, 16);
    white-space: nowrap;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 48px;
    background-color: #ededf8;
    color: color(light, on-background);
    font-size: 14px;
    line-height: math.div(24, 14);
  }
  &__content-image {
    margin-left: 8px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    transition: background-color 0.225s ease;
    border-radius: 50%;
    background-color: transparent;
    &:hover {
      background-color: #dcdbf0;
    }
  }
  &__cross-icon {
    display: block;
    width: 8px;
    height: 8px;
  }
  &--small {
    #{$_this}__item {
      max-height: 32px;
      padding: 6px 8px 6px 12px;
    }
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
