@use '../../../node_modules/flag-icons/sass/flag-icons' with (
  $flag-icons-path: '#{$path-to-static-images}/pages/common/flags'
);

// stylelint-disable scss/dollar-variable-empty-line-after
.filters {
  $_this: &;
  color: $title-dark;
  &__group {
    padding-top: 24px;
    padding-bottom: 24px;
    &:last-child {
      padding-bottom: initial;
    }

    + #{$_this}__group {
      border-top: 2px solid color(light, surface-1);
    }
  }
  &__with-footer {
    #{$_this}__group:last-child {
      margin-bottom: 24px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--sub-headline {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
    &--with-info {
      justify-content: start;
    }
  }
  &__headline {
    font-size: $font-md;
    font-weight: 500;
    line-height: 25px;
  }
  &__sub-headline {
    height: 24px;
    margin-top: 12px;
    color: $body-light;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  &__visibility {
    @include focus-visible;
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 2px;
      margin-top: -1px;
      margin-left: -7px;
      background-color: #828282;
    }
  }
  &__elements {
    max-height: 190px;
    margin-top: 16px;
    overflow: auto;
    &--full-height {
      max-height: initial;
    }
    &--no-scroll {
      overflow: initial;
    }
    &--location {
      max-height: 240px;

      #{$_this}__elements-inner {
        max-height: 185px;
      }
    }
  }
  &__elements-inner {
    max-height: 190px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: #dddce4;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: #b8b6e2;
    }
  }
  &__filled-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
  }
  &__element {
    min-width: 0;
    padding-right: 8px;
    &:not(:first-child) {
      margin-top: 16px;
    }
    &--location {
      .fi {
        flex-shrink: 0;
      }
    }
  }
  &__element-text {
    &--truncated {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
