// stylelint-disable scss/dollar-variable-empty-line-after, max-nesting-depth
.pagination {
  $_this: &;
  display: flex;
  align-items: center;
  height: 40px;
  &__button,
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    margin: 0 1px;
    padding: 8px;
    transition: all 0.225s ease;
    border: 2px solid transparent;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    &:not(#{$_this}__item--active):hover {
      background-color: color(light, secondary-hover);
      color: black;
    }
    &:not(#{$_this}__item--active):focus-visible {
      border-color: color(light, secondary);
      outline: none;
      background-color: color(light, secondary-hover);
    }
    &--active {
      background-color: color(light, primary);
      color: white !important;
    }
    &--prev-group,
    &--next-group {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      padding-right: initial;
      padding-left: initial;

      #{$_this}__icon {
        position: absolute;
      }
    }
    &--prev-group {
      #{$_this}__icon {
        &:nth-child(1) {
          left: 2px;
        }
        &:nth-child(2) {
          left: 8px;
        }
      }
    }
    &--next-group {
      #{$_this}__icon {
        &:nth-child(1) {
          right: 2px;
        }
        &:nth-child(2) {
          right: 8px;
        }
      }
    }
  }
  &__icon {
    width: 12px;
    height: 12px;
    &--next,
    &--next-group {
      transform: rotate(180deg);
    }
  }
  &__item {
    position: relative;
    padding-right: 8px;
    padding-left: 8px;
    color: #7c7b88;
    font-size: $font-md;
    font-weight: 500;
    cursor: pointer;
    &--hidden {
      display: none;
      @include for-desktop-up {
        display: block;
      }
    }
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after, max-nesting-depth
