// stylelint-disable scss/dollar-variable-empty-line-after
.radio {
  $_this: &;
  display: flex;
  align-items: center;
  height: 24px;
  color: #3c3a59;

  font-size: 18px;
  cursor: pointer;
  &__input {
    position: absolute;
    appearance: none;
    &:focus-visible {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      outline: none;
      box-shadow:
        0 0 0 2px #b8b6e2,
        0 0 0 3px white;
    }
    &:checked {
      + #{$_this}__element {
        border-width: 9px;
      }
    }
  }
  &__element {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    transition: border-width 0.1s ease;
    border: 1px solid #3c3a59;
    border-radius: 50%;
    background-color: white;
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
