// stylelint-disable scss/dollar-variable-empty-line-after
.search {
  $_this: &;
  position: relative;
  &__input,
  &__select {
    width: 100%;
    height: 50px;
    padding: 12px 48px 12px 12px;
    border: 1px solid $border-color-light;
    border-radius: 8px;
    background: transparent;
    color: #7c7b88;
    font-family: $base-font-family;
    font-size: $font-md;
    &::placeholder {
      color: $body-light;
    }
  }
  &__common-select {
    margin-left: 20px;
    padding: 0;
    border: none;
    color: color(light, primary);
  }
  &__input-group {
    position: relative;
    width: 690px;
  }
  &__input-group-button {
    #{$_this}__input {
      flex: 1;
      margin-right: 10px;
      &::placeholder {
        color: color(light, outline);
      }
    }

    #{$_this}__label {
      display: block;
      margin-bottom: 4px;
      color: color(light, outline);
      font-size: 14px;
    }
    #{$_this}__input-button-group {
      display: flex;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #8d8d8d;
  }
  &__button {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__select {
    max-width: 400px;
  }
  &--profile {
    #{$_this}__button {
      font-weight: 600;
    }
  }
  &--vacancies {
    #{$_this}__input {
      padding-right: 490px;
    }
  }
  &--projects {
    #{$_this}__input-group {
      position: relative;
      width: 100%;
    }

    #{$_this}__input {
      max-width: 100%;
    }
  }
  &--org-vacancies {
    display: flex;
    #{$_this}__input-group {
      position: relative;
      width: 1064px;
    }
    #{$_this}__select {
      width: auto;
    }
  }
  &--organizer {
    #{$_this}__input {
      border-width: 2px;
      border-color: color(light, outline-variant);
    }
  }
  &--companies {
    #{$_this}__input {
      max-width: 692px;
    }
  }
  &--companies,
  &--projects {
    display: flex;
    gap: 8px;
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
