@use 'sass:math';
@use 'sass:color';

.search-result {
  &__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 384px) minmax(auto, 1fr);
    gap: 32px;
    margin-bottom: 100px;
  }
  &__filter-group {
    padding: 24px;
    border-radius: 16px;
    background-color: $white;
    &--wide {
      padding-right: initial;
      padding-left: initial;
      .search-result__filter-header {
        padding-bottom: 24px;
        border-bottom: 2px solid color(light, surface-1);
      }
      .filters__header,
      .filters__elements,
      .search-result__filter-header {
        padding-right: 24px;
        padding-left: 24px;
      }
    }
  }
  &__vacancies-found {
    margin-top: 24px;
    margin-bottom: 24px;
    color: #3c3a59;
    font-size: 18px;
    line-height: 25px;
  }
  &__filter-header {
    display: flex;
    justify-content: space-between;
  }
  &__filter-headline {
    color: $title-dark;
    font-size: $font-lg;
    font-weight: 500;
    line-height: math.div(28, 22);
  }
  &__filter-headline-reset {
    color: color(light, on-disable);
    font-size: 16px;
    line-height: math.div(20, 16);
  }
  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__time-period {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 1fr minmax(auto, 1fr);
    align-items: center;
  }
  &__time-period-line {
    height: 2px;
    background-color: color(light, surface-3);
  }
  &__time-period-content {
    margin: 0 24px;
    padding: 4px 16px;
    border-radius: 80px;
    background-color: color(light, surface-3);
    line-height: 22px;
    text-align: center;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
  }
  &__pagination {
    margin-top: 40px;
  }
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  &__title {
    font-size: $font-lg;
    font-weight: 500;
    line-height: 26px;
  }
  &__empty-content {
    &--short {
      max-width: 428px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__empty-image {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
  }
  &__subtitle {
    margin-top: 8px;
    color: $title-light;
    font-size: $font-md;
  }
}
