.stepper {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    &__group {
        display: flex;
        align-items: center;
        width: 50%;
        line-height: 27px;
        font-size: $font-md;
    }

    &__label {
        font-size: 18px;
        color: #3c3a59;
        margin-right: 8px;
    }

    &__element-group {
        position: relative;
        width: 100%;
    }

    &__currency {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: $body-light;
    }

    &__element {
        width: 100%;
        padding: 6.5px 12px 6.5px 32px;
        border: 1px solid $border-color-light;
        border-radius: 8px;
    }
}
