.textarea {
  &__label {
    display: block;
    margin-bottom: 4px;
    color: color(light, outline);
    font-size: 14px;
    line-height: 20px;
  }
  &__item {
    width: 100%;
    border: 2px solid color(light, outline-variant);
    border-radius: 8px;
    color: color(light, primary);
    font-size: $font-md;
    line-height: 28px;
    &::placeholder {
      color: color(light, outline);
    }
    &--filter {
      height: 104px;
      padding: 7px 12px;
    }
  }
}
