.vacancies {
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    &-logo {
      margin-bottom: 16px;
    }
    &-title {
      margin: 16px 0;
      color: color(light, on-background);
      font-weight: 500;
    }
    &-subtitle {
      max-width: 380px;
      color: color(light, surface-tint);
      font-size: $font-md;
      line-height: 24px;
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}
