@mixin for-desktop-up-large {
  @media (width >= 1170px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (width >= 992px) {
    @content;
  }
}
@mixin for-laptop-up {
  @media (width >= 768px) {
    @content;
  }
}
@mixin for-desktop-down {
  @media (width <= 991px) {
    @content;
  }
}
@mixin focus-visible {
  &:focus-visible {
    @content;
    border-radius: 4px;

    outline: 0;
    box-shadow:
      0 0 0 2px black,
      0 0 0 3px white;
  }
}
@mixin trim($numLines: null) {
  @if $numLines {
    display: box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
    overflow: hidden;
  } @else {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
