//typography
$base-font-family: "Inter", arial, helvetica neue, helvetica, sans-serif;
$secondary-font-family: "Montserrat", verdana, roboto, sans-serif;
$base-font-size: 16px;

//colors
$primary-color: #21212b;
$primary-blue: #7388ff;
$header-color: #b0baeb;

// header
$header-height-desktop: 88px;

//statics
$path-to-static: "assets/images/";
