//typography
$base-font-family: "Inter", arial, helvetica neue, helvetica, sans-serif;
$secondary-font-family: "Montserrat", verdana, roboto, sans-serif;
$base-font-size: 16px;

//colors
$primary-color: #21212b;
$primary-blue: #7388ff;
$header-color: #b0baeb;
$body-color: #f2f2f8;

$bg-light: #F5F5F9;

$disabled: #96969C;
$white: #FFFFFF;


// font colors
$body-dark: #4D515C;
$body-light: #6F727A;

$title-dark: #1C1F29;
$title-light: #303647;


// header
$header-height-desktop: 88px;

//statics
$path-to-static: "assets/images/";

// font size
$font-sm: 14px;
$font-md: 17px;
$font-lg: 24px;
$font-xl: 32px;
