.organizer {
  margin-bottom: 104px;
  padding-top: 32px;
  *::-webkit-scrollbar {
    width: 8px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #dddce4;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #b8b6e2;
  }
  .search {
    display: flex;
    width: 45%;
    margin-bottom: 24px;
    gap: 8px;
  }
  &__table {
    width: 100%;
    border-radius: 8px;
    background-color: #fcfcfc;
    font-size: $font-md;
    text-align: left;
  }
  &__head tr th {
    padding: 22px;
    color: $title-dark;
    font-weight: bold;
  }
  &__table-container {
    margin-bottom: 104px;
  }
  &__links {
    margin-top: 24px;
  }
  &__link {
    color: $link-blue;
    font-size: $font-md;
    text-decoration: underline;
    display: block;
    margin-bottom: 8px;
    padding: 8px 0;

    &:hover {
      color: #032091;
      text-decoration: underline;
    }
  }
  &__block-title {
    font-size: 44px;
  }
}
.table {
  border-collapse: collapse;
  &__header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
  }
  &__result-counter {
    color: $body-dark;
    font-size: 16px;
  }
  &__select {
    width: fit-content;
    border: none;
    outline: none;
    color: #4d515c;
    font-size: $font-md;
    text-align: center;
    cursor: pointer;
  }
  th,
  td {
    border: 2px solid #f5f5f9;
  }
  tr th:nth-child(1),
  tr td:nth-child(1) {
    width: 206px;
    vertical-align: middle;
  }
  tr th:nth-child(2),
  tr td:nth-child(2) {
    width: 170px;
  }
  tr th:nth-child(3),
  tr td:nth-child(3) {
    width: 193px;
  }
  tr th:nth-child(4),
  tr td:nth-child(4),
  tr th:nth-child(5),
  tr td:nth-child(5) {
    width: 170px;
  }
  tr th:nth-child(6),
  tr td:nth-child(6) {
    width: 125px;
  }
  tr td:nth-child(7) {
    position: relative;
  }
  // stylelint-disable selector-max-compound-selectors
  tr th img {
    width: 20px;
    height: 20px;
  }
  // stylelint-enable selector-max-compound-selectors
  tr td {
    padding: 22px 12px;
    color: #4d515c;
    font-size: 16px;
    vertical-align: top;
  }
  &__item.name {
    display: flex;
    align-items: center;
  }
  &__link-group {
    display: flex;
    align-items: center;
    padding: 4px 0;
    img {
      margin-right: 8px;
    }
  }
  tbody {
    display: block;
    max-height: 1500px;
    overflow-y: auto;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  thead {
    width: 100%;
  }
  &__item-link {
    display: block;
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: $title-light;
      text-decoration: underline;
    }
  }
  &__item-link.vacancies {
    width: fit-content;
    margin-bottom: 8px;
    padding: 6.5px 12px;
    border-radius: 6px;
    background-color: #d4f8d3;
    color: #222;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
  }
  &__item-button {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 4px;
    transform: translateY(-50%);
  }
}
