@use 'sass:math';

.other-projects {
  &__container {
    padding-top: 52px;
    padding-bottom: 52px;
  }
  &__title {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 32px;
    color: color(light, on-background);

    line-height: math.div(52.8, 44);
  }
  &__item {
    padding: 24px;
    display: flex;
    justify-content: space-between;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__group {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 16px;
  }
}
