<section class="hero">
  <div class="container hero__container">
    <div class="hero__overlay">
      <img
        class="hero__image"
        width="56"
        height="67"
        srcset="@@images_organizer_path__eyes@2x.png 2x"
        src="@@images_organizer_path__eyes.png"
        alt="eyes icon"
      />
      <h1 class="hero__headline">You've come across something we're still working on</h1>
      <p class="hero__description hero__description--with-icon">
        <img
          class="hero__description-image"
          width="20"
          height="20"
          srcset="@@images_organizer_path__check-mark@2x.png 2x"
          src="@@images_organizer_path__check-mark.png"
          alt="check mar icon"
        />
        You are subscribed to be notified when this page is available
      </p>
      <a href="#" class="button button--small-padding button--bordered-gray hero__button">Unsubscribe</a>
    </div>
  </div>
</section>
