<div class="card hidden-card">
  <figure class="hidden-card__body">
    <img alt="lock icon"
         width="28"
         height="36"
         src="@@images_organizer_path__lock.svg"
         class="hidden-card__image"
    >
    <figcaption class="hidden-card__caption">
      <p class="hidden-card__text">Company in cryptocurrency domain</p>
      <div class="hidden-card__action">
        <button class="button button--black button--small button--x-small-padding hidden-card__action-button" type="button">Show all in this domain</button>
        <a class="button button--small button--x-small-padding button--bordered-black-transparent hidden-card__action-button" href="javascript:">See company info</a>
      </div>
    </figcaption>
  </figure>
</div>