<div class="card">
	<div class="card__vacancy">
		<aside class="card__action">
			<button class="favorite card__action-button button-group__item" title="Add to favorite">
				<svg class="favorite__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"
						 xml:space="preserve"><path d="m14.5 22.1-.5-.3-.5.3-6.8 4.2c-.5.3-1.1-.1-.9-.7L7.5 18l.1-.6-.4-.4-5.9-5.2c-.3-.3-.3-.6-.2-.8.1-.2.3-.4.5-.4l7.9-.7.6-.1.2-.6 2.9-7.4c.2-.5 1-.5 1.2 0l3.1 7.3.2.5.6.1 7.9.7c.2 0 .4.2.5.5.1.3 0 .6-.2.7l-5.9 5.2-.4.4.1.6 1.8 7.7c.1.3 0 .5-.2.6-.2.1-.5.2-.8 0l-6.6-4z"/></svg>
			</button>
			<button title="Hide vacancy"
							class="button-group__item button-group__item-sloth card__action-button-sloth"></button>
		</aside>
		<figure class="card__header card__header--organizer">
      <div class="card__logo-overlay"></div>
			<figcaption class="card__header-caption">
				<a href="javascript:"
					 class="card__headline"
				>
					Backend Developer
				</a>
				<a href="javascript:"
					 class="card__sub-headline">
					Ubisoft
				</a>
        <p class="card__header-caption-text">
          <img class="card__header-caption-icon"
               alt="marker"
               width="12"
               height="12"
               src="@@images_organizer_path__marker.svg"
          >Country, City (Full Remote)
        </p>
        <p class="card__header-caption-text">
          <img class="card__header-caption-icon"
               alt="briefcase"
               width="12"
               height="12"
               src="@@vacancies_images_path__credit-card.svg"
          >$25/hour
        </p>
			</figcaption>
		</figure>
		<p class="card__text card__text--organizer">
			Ubisoft IT is looking for a Golang Developer to join the IT Engineering & Platform team. As a Golang Developer joining this team,
			you will be responsible for designing and building a control plane that ensures the reliability, scalability, and security of
			Ubisoft’s Kubernetes infrastructure.
		</p>
		<div class="card__footer">
			<div class="card__details">
				<figure class="card__figure" title="09:05 29.02.2024">
					<img class="card__icon"
							 alt="card type icon"
							 width="16"
							 height="16"
							 src="@@images_online_path__calendar.svg"
					/>
					<figcaption class="card__figcaption">Yesterday</figcaption>
				</figure>
				<figure class="card__figure" title="Views last month: 164">
					<img class="card__icon"
							 alt="card type icon"
							 width="16"
							 height="16"
							 src="@@images_common_path__eye.svg"
					/>
					<figcaption class="card__figcaption">Views last month: 164</figcaption>
				</figure>
			</div>
			<button target="_blank" href="#" class="button button--bordered-gray button--gap-images">
				<img
					width="20"
					height="20"
					src="@@images_organizer_path__xing.svg"
					alt="go original logo"
					class="hero__button-icon"
				/>
				View source
				<img
					width="18"
					height="18"
					src="@@images_common_path__external-link.svg"
					alt="arrow black icon"
					class="hero__button-icon"
				/>
			</button>
		</div>
	</div>
</div>
