<div class="container">
	<nav aria-label="breadcrumb" aria-labelledby="navigation through the bread crumbs" class="breadcrumb">
		<ul class="breadcrumb__list">
			<li class="breadcrumb__item">
				<a class="breadcrumb__link" href="javascript:">Main</a>
			</li>
			<li class="breadcrumb__item">
				<a class="breadcrumb__link" href="javascript:">Organizer</a>
			</li>
			<li class="breadcrumb__item">
				<span class="breadcrumb__link" aria-current="page">Golang</span>
			</li>
			<li class="breadcrumb__item">
				<span class="breadcrumb__page" aria-current="page">Vacancies</span>
			</li>
		</ul>
	</nav>
</div>
