<nav class="pagination search-result__pagination">
  <a class="pagination__button pagination__button--prev" href="javascript:" aria-label="arrow left">
    <img
      class="pagination__icon pagination__icon--prev"
      width="14"
      height="14"
      src="/assets/images/pages/common/double-left.svg"
      alt="arrow left"
    />
  </a>
  <a class="pagination__button pagination__button--prev" href="javascript:" aria-label="arrow left">
    <img
      class="pagination__icon pagination__icon--prev"
      width="14"
      height="14"
      src="/assets/images/pages/common/right.svg"
      alt="arrow left"
    />
  </a>
  <a class="pagination__item pagination__item--active" href="javascript:">1</a>
  <a class="pagination__item" href="javascript:">2</a>
  <a class="pagination__item" href="javascript:">3</a>
  <span class="pagination__item">...</span>
  <a class="pagination__item" href="javascript:">9</a>
  <a class="pagination__button pagination__button--prev" href="javascript:" aria-label="arrow left">
    <img
      class="pagination__icon pagination__icon--prev"
      width="14"
      height="14"
      src="/assets/images/pages/common/right.svg"
      alt="arrow left"
    />
  </a>
  <a class="pagination__button pagination__button--next" href="javascript:" aria-label="arrow right">
    <img
      class="pagination__icon pagination__icon--next"
      width="14"
      height="14"
      src="/assets/images/pages/common/double-left.svg"
      alt="arrow right"
    />
  </a>
</nav>
