<section class="project-statistics">
	<div class="container vacancy-statistics__container">
		<div class="stats">
			<div class="stats__item">
				<div class="stats__header">
					<h3 class="stats__title">Page views</h3>
				</div>
				<div class="stats__counters">
					<div class="stats__counters-item">
						<p class="stats__counters-views">Total views</p>
						<p class="stats__counters-item-number">846</p>
					</div>
					<div class="stats__counters-item">
						<p class="stats__counters-views">Last month's views</p>
						<p class="stats__counters-item-number">146</p>
					</div>
				</div>
				<div class="stats__chart stats__chart--page-views-statistics js-page-vacancy-views-statistics"></div>
			</div>
			<header class="stats__head stats__head--double">
				<div class="stats__counters">
					<h3 class="stats__title">Added to favorites</h3>
					<div class="stats__counters-group">
						<div class="stats__counters-item">
							<p class="stats__counters-views">Total</p>
							<p class="stats__counters-item-number">68</p>
						</div>
						<div class="stats__counters-item">
							<p class="stats__counters-views">Last month</p>
							<p class="stats__counters-item-number">13</p>
						</div>
					</div>
				</div>
			</header>
		</div>
	</div>
</section>
