@use 'sass:math';

.stats {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__counters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
    padding-right: 16px;
    padding-left: 16px;
  }
  &__counters-item {
    padding: 12px 16px;
    border: 1px solid color(light, surface-5);
    border-radius: 12px;
    &:nth-child(2) {
      margin-left: -1px;
    }
  }
  &__counters-views {
    color: color(light, surface-tint);
    font-size: 18px;
    line-height: math.div(24, 18);
  }
  &__counters-item-number {
    margin-top: 8px;
    color: color(light, on-background);
    font-size: 36px;
    line-height: math.div(44, 36);
  }
  &__item {
    padding: 24px 0 16px;
    border-radius: 20px;
    background: white;
  }
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
  }
  &__title {
    color: color(light, on-background);
    font-size: 22px;
    font-weight: 500;
    line-height: math.div(28, 22);
  }
  &__labels {
    color: color(light, outline);
    font-family: $base-font-family !important;
    font-size: 12px;
    line-height: math.div(16, 12);
  }
}
