<div class="card">
	<figure class="card__header">
		<div class="card__image-overlay card__image-overlay--small">
			<img
				width="112"
				height="56"
				class="card__image card__image--preview"
				alt="card image preview icon"
				src="@@images_organizer_path__rust-communities-1.png"
			/>
		</div>
		<figcaption class="card__header-caption">
			<a href="/page-stub.html" class="card__headline vacancy__link">Rustlang Community</a>
		</figcaption>
		<a href="#" class="button button--small-padding button--black button--gap-images">
			Visit
			<img width="18" height="18" alt="arrow top icon" src="@@images_common_path__external-link-white.svg">
		</a>
	</figure>
	<p class="card__sub-headline">
		The Rust Users Forum is a place for Rust users to communicate about anything and everything related to Rust. Ask questions here, coordinate on project ideas, whatever you like!
	</p>
</div>
