.company-vacancies {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__headline {
    margin: 16px 0 32px;
    font-size: 32px;
    font-weight: 500;
  }
  .search-result__empty-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    text-align: center;
  }
}
