<li class="history__table-user">
  <div class="history__user-group">
    <img
      src="https://avatars.githubusercontent.com/u/123738314?v=4&s=48"
      width="40"
      height="40"
      alt="photo"
      class="history__user-photo"
    />
    <span class="history__user-name">Anastasiia Sihetii</span>
  </div>
  <a href="https://github.com/AnastasiiaSihetii" target="_blank" class="history__user-link history__user-item"
    >github.com/AnastasiiaSihetii</a
  >
  <span class="history__user-date history__user-item">August 2, 2023</span>
</li>
