<header class="header">
  <div class="header__wrapper">
    <a href="#" class="header__logo">
      <img
        width="30"
        height="30"
        class="header__logo-img"
        src="@@images_organizer_path__go-original.svg"
        alt="organizer logo"
      />
      <span class="header__logo-label">Organizer</span>
    </a>
    <div class="header__nav-overlay js-header-nav">
      <ul class="header__nav">
        <li class="header__nav-item">
          <a href="/companies" class="header__nav-link active">Companies</a>
        </li>
        <li class="header__nav-item">
          <a href="/vacancies" class="header__nav-link">Vacancies</a>
        </li>
        <li class="header__nav-item">
          <a href="/vacancies" class="header__nav-link">Communities</a>
        </li>
      </ul>
      <div class="header__stars">
        <iframe
          src="https://ghbtns.com/github-btn.html?user=readytotouch&repo=readytotouch.github.io&type=star&count=true&size=large"
          width="110"
          height="33"
          title="GitHub"
        ></iframe>
      </div>
      <a href="javascript:" class="button button--bordered-black button--small-padding header__login-button">Log in</a>
    </div>
    <button class="hamburger hamburger--spin header__hamburger js-hamburger"
            type="button"
            aria-expanded="false"
            aria-label="Open the menu"
    >
			<span class="hamburger__box">
				<span class="hamburger__inner"></span>
			</span>
    </button>
  </div>
</header>
