// stylelint-disable scss/dollar-variable-empty-line-after
.detail-view {
  $_this: &;
  &__content {
    max-width: 1008px;
    margin-bottom: 104px;
  }
  &__content-without-margin {
    margin-bottom: 0;
  }
  &__card {
    margin-bottom: 4px;
    padding: 32px;
    border-radius: 16px;
    background: $white;
  }
  .card__company-links {
    border: none;
  }
  &__info {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  &__info-card {
    margin-bottom: 4px;
    padding: 16px;
    border-radius: 16px;
    background: $white;
  }
  &__info-group {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  &__info-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    column-gap: 18px;
  }
  &__info-group:nth-child(2) {
    #{$_this}__info-value {
      margin: 0;
    }

    #{$_this}__info-row {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
  &__info-key {
    display: flex;
  }
  &__info-icon {
    margin-top: 3px;
  }
  &__info-value {
    margin-left: 8px;
    color: $body-light;
    font-size: $font-md;
    line-height: 25px;
  }
  &__info-value-hidden {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 2px 8px;
    border-radius: 4px;
    background: #ebedf9;
    color: #4e5fca;
    font-size: 16px;
    line-height: 130%;
  }
  &__info-data {
    overflow: hidden;
    color: $title-dark;
    font-size: $font-md;
    font-weight: 400;
    line-height: 150%;
    text-overflow: ellipsis;
    a {
      color: $link-blue;
      font-weight: 500;
    }
  }
  &__social-link {
    height: 100%;
    margin-right: 12px;
  }
  &__social-img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
  &__description-title {
    margin-bottom: 16px;
  }
  &__text-content {
    margin-bottom: 24px;
    color: $body-dark;
    line-height: 27px;
  }
  &__footer {
    display: flex;
    align-items: center;
    margin-top: 28px;
  }
  &__footer-report {
    margin-left: auto;
    cursor: pointer;
  }
  &__strike {
    margin-left: 8px;
    color: $body-light;
    font-size: $font-md;
    font-weight: 500;
    line-height: 20px;
    &:hover {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
