<div class="explore-technologies__item">
  <figure class="explore-technologies__figure">
    <img src="@@images_main_responsive_path__@@itemImageSrc.svg"
         alt="@@itemTitle logo"
         class="explore-technologies__image"
         width="40"
         height="40"
    >
    <figcaption class="explore-technologies__caption">@@itemTitle</figcaption>
  </figure>
  <div class="explore-technologies__button-group">
    <a href="javascript:" class="button button--bordered-gray explore-technologies__button">Companies</a>
    <a href="javascript:" class="button button--bordered-gray explore-technologies__button">Vacancies</a>
  </div>
</div>
