@import '../partials/settings';
@import '../partials/functions';
@import '../partials/mixins';
@import '../base/fonts';
@import '../utils/helpers';
@import '../base/reset';
@import '../elements/buttons';
@import '../elements/icons';
@import '../elements/text';
@import '../elements/badge';
@import '../base/online_new/layout';
@import '../base/online_new/header';
@import '../base/online_new/footer';
