<section class="explore-technologies">
  <div class="container explore-technologies__container">
    <header class="explore-technologies__header">
      <h2 class="explore-technologies__headline">Explore Technologies</h2>
    </header>
    <div class="explore-technologies__list">
      @@loop('partials/main-responsive/partials/explore-technologies/explore-technologies-item.html', [
        { "itemImageSrc": "go", "itemTitle": "Golang" },
        { "itemImageSrc": "rust", "itemTitle": "Rust" },
        { "itemImageSrc": "scala", "itemTitle": "Scala" },
        { "itemImageSrc": "elixir", "itemTitle": "Elixir" },
        { "itemImageSrc": "erlang", "itemTitle": "Erlang" },
        { "itemImageSrc": "clojure", "itemTitle": "Clojure" },
        { "itemImageSrc": "zig", "itemTitle": "Zig" },
        { "itemImageSrc": "haskell", "itemTitle": "Haskell" },
        { "itemImageSrc": "fsharp", "itemTitle": "F#" },
        { "itemImageSrc": "ocaml", "itemTitle": "OCaml" }
      ])
    </div>
  </div>
</section>
