<section class="project-statistics">
  <div class="container project-statistics__container">
    <header class="project-statistics__header">
      <h2 class="project-statistics__headline">Project Statistics</h2>
      <p class="project-statistics__description">
        We like statistics and transparency, so we show users who logged in here to support our projects or found our
        tools useful.
      </p>
    </header>
    <section class="stats">
      <div class="stats__item">
        <div class="stats__header">
          <h3 class="stats__title">Online users</h3>
          <div class="stats__period">Last month</div>
        </div>
        <div class="stats__chart stats__chart--online-statistics js-chart-online-statistics"></div>
      </div>
      <div class="stats__item">
        <div class="stats__header">
          <h3 class="stats__title">User registrations</h3>
          <div class="stats__period">Last month</div>
        </div>
        <div class="stats__chart">
          <div class="stats__chart stats__chart--registration-statistics js-chart-registration-statistics"></div>
        </div>
      </div>
    </section>
    <section class="history">
      <h2 class="history__title">Registration history</h2>
      <div class="history__table">
        <div class="history__table-header">
          <span class="history__name history__header-item">User name</span>
          <span class="history__profile history__header-item">Profile</span>
          <span class="history__date history__header-item">Registration date</span>
        </div>
        <ul class="history__table-list">
          @@include('partials/online-new/partials/project-statistics/registration-history-user1.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user2.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user3.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user1.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user2.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user3.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user1.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user2.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user3.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user1.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user2.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user3.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user1.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user2.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user3.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user1.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user2.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user3.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user1.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user2.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user3.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user1.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user2.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user3.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user1.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user2.html')
          @@include('partials/online-new/partials/project-statistics/registration-history-user3.html')
        </ul>
      </div>
    </section>
  </div>
</section>
