<aside class="search-result__filters">
  <div class="search-result__filter-group">
    <div class="search-result__filter-header">
      <h2 class="search-result__filter-headline">Filters:</h2>
      <button class="button button--light-link">Reset all</button>
    </div>

    <div class="filters">
      <!-- English level -->
      <div class="filters__group">
        <header class="filters__header">
          <h4 class="filters__headline">Project type</h4>
        </header>
        <div class="filters__elements">
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Product
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Startup
          </label>
        </div>
      </div>
      <!-- /English level -->

      <!-- Direction -->
      <div class="filters__group">
        <header class="filters__header">
          <h4 class="filters__headline">Direction</h4>
        </header>

        <div class="filters__elements">
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            CyberSecurity
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Embedded
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            EdTech
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            eCommerce
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            HealthTech
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            CyberSecurity
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Embedded
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            EdTech
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            eCommerce
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            HealthTech
          </label>
        </div>
      </div>
      <!-- /Direction -->

      <!-- Company type -->
      <div class="filters__group">
        <header class="filters__header">
          <h4 class="filters__headline">Other</h4>
        </header>
        <div class="filters__elements">
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Has Ukrainian employees
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Favorites
          </label>
        </div>
      </div>

      <div class="filters__group">
        <div class="filters__elements">
          <div class="switch-wrapper filters__element">
            <label class="switch">
              <input type="checkbox" name="active_search" id="active_search" class="switch__input" />
              <span class="switch__slider switch__slider--round"></span>
            </label>
            <span class="switch-wrapper__text">Active search</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
