<aside class="search-result__filters">
  <div class="search-result__filter-group search-result__filter-group--wide">
    <div class="search-result__filter-header">
      <h2 class="search-result__filter-headline">Filters:</h2>
      <button class="button button--light-link search-result__filter-headline-reset">Reset all</button>
    </div>

    <div class="filters">
      <!-- Location -->
      <div class="filters__group">
        <header class="filters__header filters__header--with-info">
          <h4 class="filters__headline">Location</h4>
          <img
            class="ml-14"
            alt="info icon"
            width="14"
            height="14"
            title="info"
            src="@@images_common_path__info.svg"
          />
        </header>
        <div class="filters__elements filters__elements--location">
          <div class="filters__elements-inner">
            <label class="checkbox filters__element">
              <input checked class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              All
            </label>
            @@loop('partials/common/organizer/partials/location-element.html', '../json/locations.json')
          </div>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Full Remote available
          </label>
        </div>
      </div>
      <!-- /Location -->

      <!-- Company type -->
      <div class="filters__group">
        <header class="filters__header filters__header--with-info">
          <h4 class="filters__headline">Company type</h4>
          <img
            class="ml-14"
            alt="info icon"
            width="14"
            height="14"
            title="info"
            src="@@images_common_path__info.svg"
          />
        </header>
        <div class="filters__elements">
          <label class="checkbox filters__element">
            <input checked class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Product
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Startup
          </label>
        </div>
      </div>
      <!-- /Company type -->

      <!-- Company size -->
      <div class="filters__group">
        <header class="filters__header filters__header--with-info">
          <h4 class="filters__headline">Company size</h4>
          <img
            class="ml-8"
            alt="info icon"
            width="16"
            height="16"
            title="info"
            src="@@images_common_path__linkedin-small.svg"
          />
          <img
            class="ml-14"
            alt="info icon"
            width="14"
            height="14"
            title="info"
            src="@@images_common_path__info.svg"
          />
        </header>
        <div class="filters__elements filters__elements--full-height">
          <label class="checkbox filters__element">
            <input checked class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            1-50 employees
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            51-200 employees
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            201-500 employees
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            501-1,000 employees
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            1,000-5,000 employees
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            1,000-5,000 employees
          </label>
        </div>
      </div>
      <!-- /Company size -->

      <!-- Rating -->
      <div class="filters__group">
        <header class="filters__header filters__header--with-info">
          <h4 class="filters__headline">Rating</h4>
          <img
            class="ml-8"
            alt="info icon"
            width="16"
            height="16"
            title="info"
            src="@@images_common_path__glassdoor.svg"
          />
          <img
            class="ml-14"
            alt="info icon"
            width="14"
            height="14"
            title="info"
            src="@@images_common_path__info.svg"
          />
        </header>
        <div class="filters__elements filters__elements--full-height">
          <label class="checkbox filters__element">
            <input checked class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            <img
              alt="star icon"
              width="22"
              height="22"
              title="info"
              src="@@images_common_path__star.svg"
            />
            4.5 stars and above
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            <img
              alt="star icon"
              width="22"
              height="22"
              title="info"
              src="@@images_common_path__star.svg"
            />
            4 stars and above
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            <img
              alt="star icon"
              width="22"
              height="22"
              title="info"
              src="@@images_common_path__star.svg"
            />
            3 stars and above
          </label>
        </div>
      </div>
      <!-- /Rating -->

      <!-- Industry -->
      <div class="filters__group">
        <header class="filters__header filters__header--with-info">
          <h4 class="filters__headline">Industry</h4>
          <img
            class="ml-14"
            alt="info icon"
            width="14"
            height="14"
            title="info"
            src="@@images_common_path__info.svg"
          />
        </header>

        <div class="filters__elements">
          <div class="filters__elements-inner">
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              CyberSecurity
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              Embedded
            </label>
            <label class="checkbox filters__element">
              <input checked class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              EdTech
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              eCommerce
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              HealthTech
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              CyberSecurity
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              Embedded
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              EdTech
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              eCommerce
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              HealthTech
            </label>
          </div>
        </div>
      </div>
      <!-- /Industry -->

      <!-- Hosting -->
      <div class="filters__group">
        <header class="filters__header filters__header--with-info">
          <h4 class="filters__headline">Hosting</h4>
          <img
            class="ml-14"
            alt="info icon"
            width="14"
            height="14"
            title="info"
            src="@@images_common_path__info.svg"
          />
        </header>

        <div class="filters__elements">
          <div class="filters__elements-inner">
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              <img
                alt="AWS icon"
                width="24"
                height="24"
                title=""
                src="@@images_common_path__amazon-web-services.svg"
              />
              AWS
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              <img
                alt="Azure icon"
                width="24"
                height="24"
                title=""
                src="@@images_common_path__azure.svg"
              />
              Azure
            </label>
            <label class="checkbox filters__element">
              <input checked class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              <img
                alt="GCP icon"
                width="24"
                height="24"
                title=""
                src="@@images_common_path__googlecloud.svg"
              />
              GCP
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              <img
                alt="Digital Ocean icon"
                width="24"
                height="24"
                title=""
                src="@@images_common_path__digitalocean.svg"
              />
              Digital Ocean
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              <img
                alt="Vultr icon"
                width="24"
                height="24"
                title=""
                src="@@images_common_path__vultr.svg"
              />
              Vultr
            </label>
          </div>
        </div>
      </div>
      <!-- /Hosting -->

      <!-- API Type -->
      <div class="filters__group">
        <header class="filters__header filters__header--with-info">
          <h4 class="filters__headline">API Type</h4>
          <img
            class="ml-14"
            alt="info icon"
            width="14"
            height="14"
            title="info"
            src="@@images_common_path__info.svg"
          />
        </header>

        <div class="filters__elements">
          <div class="filters__elements-inner">
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              gRPC
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              REST
            </label>
            <label class="checkbox filters__element">
              <input checked class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              GraphQL
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              Swagger
            </label>
            <label class="checkbox filters__element">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__element"></span>
              OpenAPI
            </label>
          </div>
        </div>
      </div>
      <!-- /API Type -->

      <!-- Company type -->
      <div class="filters__group">
        <header class="filters__header filters__header--with-info">
          <h4 class="filters__headline">Hosting</h4>
          <img
            class="ml-14"
            alt="info icon"
            width="14"
            height="14"
            title="info"
            src="@@images_common_path__info.svg"
          />
        </header>
        <div class="filters__elements">
          <label class="checkbox filters__element">
            <input checked class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Has Ukrainian employees
            <img
              class="checkbox__content-image"
              alt="Flag of Ukraine"
              width="24"
              height="24"
              src="@@images_common_path__flags/4x3/ua.svg"
            />
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Has Czechs employees
            <img
              class="checkbox__content-image"
              alt="Flag of CZ"
              width="24"
              height="24"
              src="@@images_common_path__flags/4x3/cz.svg"
            />
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Only with salary listed
          </label>
          <label class="checkbox filters__element">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__element"></span>
            Favorites
          </label>
        </div>
      </div>
    </div>
  </div>
</aside>
