<div class="sorter">
  <div class="sorter__title js-sorter-title">Newest first</div>
  <ul class="sorter__list js-sorter-list">
    <li class="sorter__item js-sorter-item">Newest first</li>
    <li class="sorter__item js-sorter-item">Oldest first</li>
    <li class="sorter__item js-sorter-item">By LinkedIn followers</li>
    <li class="sorter__item js-sorter-item">By Glassdoor reviews</li>
    <li class="sorter__item js-sorter-item">By Blind reviews</li>
    <li class="sorter__item js-sorter-item">By Market Cap</li>
    <li class="sorter__item js-sorter-item">By latest job posting</li>
  </ul>
</div>