<section class="search-container container">
  <div class="search search--org-vacancies search--organizer">
    <div class="search__input-group">
      <input class="search__input" id="vacancy" type="text" placeholder="Vacancy title or keywords"/>
      <img class="search__icon" alt="Search icon" width="20" height="20" src="@@images_common_path__search.svg" />
    </div>
		<select class="search__select search__common-select" name="cities">
			<option selected>Newest first</option>
			<option selected>Oldest first</option>
			<option selected>Most viewed</option>
			<option selected>Least viewed</option>
		</select>
  </div>
</section>
