.card {
	$_this: &;

	display: grid;
	grid-template-columns: 1fr 48px;
	grid-template-rows: repeat(3, auto);
	column-gap: 26px;
	max-width: 1008px;
	padding: 32px;
	border-radius: 16px;
	background-color: #ffffff;

	&__action {
		display: grid;
		grid-template-rows: repeat(auto-fit, 48px);
		row-gap: 8px;
		grid-column: 2;
		grid-row: 1/-1;
	}

	&__info {
		grid-column: 1;
		display: flex;
	}

	&__image-overlay {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 128px;
		height: 64px;
		background: #f2f2f8;
		border-radius: 4px;
	}

	&__info-caption {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 12px;
	}

	&__headline {
		font-size: 24px;
		line-height: 29px;
		font-weight: 700;
		color: #111028;
		align-self: flex-start;
		display: flex;
		align-items: center;
		transition: color 0.225s ease;

		&:hover {
			color: #3f3a92;
		}
	}

	&__verify {
		margin-left: 8px;
	}

	&__sub-headline {
		font-size: 18px;
		line-height: 25px;
		color: #b5b5be;
		margin-top: 4px;
		align-self: flex-start;
		transition: color 0.225s ease;

		&:hover {
			color: #3f3a92;
		}
	}

	&__address {
		display: flex;
		align-items: center;
		margin-top: 4px;
	}

	&__address-caption {
		font-size: 18px;
		line-height: 25px;
		color: #b5b5be;
		display: table;
		table-layout: fixed;
		width: 100%;
		margin-left: 4px;
	}

	&__address-truncate {
		display: table-cell;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&__address-count {
		font-size: 18px;
		line-height: 25px;
		color: #b5b5be;
		margin-left: 4px;
	}

	&__text {
		font-size: 18px;
		line-height: 25px;
		color: #7c7b88;
		margin-top: 16px;
		grid-column: 1;
		@include trim(2);
	}

	&__footer {
		font-size: 18px;
		line-height: 25px;
		color: #7c7b88;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 16px;
		margin-top: 24px;
		grid-column: 1;
	}

	&__figure {
		display: flex;
		align-items: center;
	}

	&__figcaption {
		margin-left: 8px;
	}

	&__link {
		display: inline-block;
		color: #0d1dab;
	}

	&--filled {
		#{$_this}__image-overlay {
			background-color: transparent;
		}
	}
}
