<section class="organizer-communities">
	<div class="container organizer-communities__container">
		<h2 class="organizer-communities__headline">Statistics</h2>
		<div class="stats">
			<div class="stats__item">
				<div class="stats__header">
					<h3 class="stats__title">Page views</h3>
				</div>
				<div class="stats__counters">
					<div class="stats__counters-item">
						<p class="stats__counters-views">Total views</p>
						<p class="stats__counters-item-number">846</p>
					</div>
					<div class="stats__counters-item">
						<p class="stats__counters-views">Last month's views</p>
						<p class="stats__counters-item-number">146</p>
					</div>
				</div>
				<div class="stats__chart stats__chart--page-views-statistics js-communities-statistics" data-type="scala"></div>
			</div>
		</div>
	</div>
</section>
