<div class="company-grid">
  <div class="company-grid__item">
    <ul class="company-grid__links-group">
      <li class="company-grid__links-item company-grid__links-item--title">
        <div class="company-grid__links-item-group">
          <img
            class="company-grid__links-icon"
            alt="linkedin icon"
            width="32"
            height="32"
            src="@@images_organizer_path__linkedin.svg"
          />
          <a href="#" class="company-grid__links-link">LinkedIn</a>
          <a href="#" class="company-grid__links-link company-grid__links-link--verify">
            <img
              class="company-grid__links-icon"
              alt="icon"
              src="@@images_organizer_path__verified-icon.png"
            />
          </a>
        </div>
        <ul class="company-grid__links-item-info">
          <li class="company-grid__link-stats-item">35M followers</li>
          <li class="company-grid__link-stats-item">10,001+ employees</li>
          <li class="company-grid__link-stats-item">302,261 associated members</li>
        </ul>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Overview</a>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">CEO</a>
      </li>
      <li class="company-grid__links-item company-grid__links-item--inner">
        <p class="company-grid__links-item-text">Connections (employees):</p>
        <ul class="company-grid__links-group-inner">
          <li class="company-grid__links-item">
            <a href="javascript:" class="button-link company-grid__links-link">Global</a>
            <img
              class="company-grid__links-icon"
              alt="language icon"
              width="20"
              height="20"
              src="@@images_organizer_path__language.svg"
            />
          </li>
          <li class="company-grid__links-item">
            <a href="javascript:" class="button-link company-grid__links-link">UA</a>
            <img
              class="company-grid__links-icon"
              alt="language icon"
              width="20"
              height="20"
              src="@@images_common_path__flags/4x3/ua.svg"
            />
          </li>
          <li class="company-grid__links-item">
            <a href="javascript:" class="button-link company-grid__links-link">CZ</a>
            <img
              class="company-grid__links-icon"
              alt="language icon"
              width="20"
              height="20"
              src="@@images_common_path__flags/4x3/cz.svg"
            />
          </li>
          <li class="company-grid__links-item">
            <a href="javascript:" class="button-link company-grid__links-link">Former (All)</a>
          </li>
        </ul>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Employees' posts</a>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Jobs</a>
      </li>
    </ul>
  </div>
  <div class="company-grid__item">
    <ul class="company-grid__links-group">
      <li class="company-grid__links-item company-grid__links-item--title">
        <div class="company-grid__links-item-group">
          <img
            class="company-grid__links-icon"
            alt="github icon"
            width="32"
            height="32"
            src="@@images_organizer_path__github.svg"
          />
          <a href="#" class="company-grid__links-link company-grid__links-link--verify">
            <img
              class="company-grid__links-icon"
              alt="icon"
              src="@@images_organizer_path__verified.png"
            />
          </a>
          <a href="#" class="company-grid__links-link">GitHub</a>
        </div>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Overview</a>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Repositories (3)</a>
      </li>
    </ul>
  </div>
  <div class="company-grid__item">
    <ul class="company-grid__links-group">
      <li class="company-grid__links-item company-grid__links-item--title">
        <div class="company-grid__links-item-group">
          <img
            class="company-grid__links-icon"
            alt="linkedin icon"
            width="32"
            height="32"
            src="@@images_organizer_path__blind.png"
          />
          <a href="#" class="company-grid__links-link">LinkedIn</a>
        </div>
        <ul class="company-grid__links-item-info">
          <li class="company-grid__link-stats-item">10,000+ employees</li>
          <li class="company-grid__link-stats-item">$60K ~ $356K a year</li>
          <li class="company-grid__link-stats-item">10 095 Reviews</li>
        </ul>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Overview</a>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Reviews</a>
        <span class="company-grid__links-link-star">⭐ 4.2</span>
      </li>
    </ul>
  </div>
  <div class="company-grid__item">
    <ul class="company-grid__links-group">
      <li class="company-grid__links-item company-grid__links-item--title">
        <div class="company-grid__links-item-group">
          <img
            class="company-grid__links-icon"
            alt="linkedin icon"
            width="32"
            height="32"
            src="@@images_organizer_path__levels.png"
          />
          <a href="#" class="company-grid__links-link">Levels.fyi</a>
        </div>
        <ul class="company-grid__links-item-info">
          <li class="company-grid__link-stats-item">258 750 of Employees</li>
        </ul>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Overview</a>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Jobs</a>
      </li>
    </ul>
  </div>
  <div class="company-grid__item">
    <ul class="company-grid__links-group">
      <li class="company-grid__links-item company-grid__links-item--title">
        <div class="company-grid__links-item-group">
          <img
            class="company-grid__links-icon"
            alt="glassdoor icon"
            width="32"
            height="32"
            src="@@images_organizer_path__glassdoor.svg"
          />
          <a href="#" class="company-grid__links-link">Glassdoor</a>
          <a href="#" class="company-grid__links-link company-grid__links-link--verify">
            <img
              class="company-grid__links-icon"
              alt="icon"
              src="@@images_organizer_path__verified-emp.png"
            />
          </a>
        </div>
        <ul class="company-grid__links-item-info">
          <li class="company-grid__link-stats-item company-grid__link-stats-item--one-line">
						<span>
							<strong>4.8K</strong> jobs
						</span>
            <span>
							<strong>58.2K</strong> reviews
						</span>
            <span>
							<strong>166.1K</strong> salaries
						</span>
          </li>
        </ul>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Overview</a>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Reviews</a>
        <span class="company-grid__links-link-star">4.2 ★</span>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Jobs</a>
      </li>
    </ul>
  </div>
  <div class="company-grid__item">
    <ul class="company-grid__links-group">
      <li class="company-grid__links-item company-grid__links-item--title">
        <div class="company-grid__links-item-group">
          <img
            class="company-grid__links-icon"
            alt="linkedin icon"
            width="32"
            height="32"
            src="@@images_organizer_path__indeed.png"
          />
          <a href="#" class="company-grid__links-link">Indeed</a>
        </div>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Overview</a>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">Jobs</a>
      </li>
    </ul>
  </div>
  <div class="company-grid__item">
    <ul class="company-grid__links-group">
      <li class="company-grid__links-item company-grid__links-item--title">
        <div class="company-grid__links-item-group">
          <img
            class="company-grid__links-icon"
            alt="linkedin icon"
            width="32"
            height="32"
            src="@@images_organizer_path__investors.svg"
          />
          <a href="#" class="company-grid__links-link">Investors</a>
        </div>
      </li>
      <li class="company-grid__links-item">
        <img class="company-grid__links-icon" alt="Dealroom icon" width="20" height="20" src="@@images_organizer_path__dealroom.png" />
        <a href="#" class="button-link company-grid__links-link">Dealroom</a>
      </li>
      <li class="company-grid__links-item">
        <img class="company-grid__links-icon" alt="Crunchbase icon" width="20" height="20" src="@@images_organizer_path__crunchbase.svg" />
        <a href="#" class="button-link company-grid__links-link">Crunchbase</a>
      </li>
      <li class="company-grid__links-item">
        <img class="company-grid__links-icon" alt="Pitchbook icon" width="20" height="20" src="@@images_organizer_path__pitchbook.png" />
        <a href="#" class="button-link company-grid__links-link">Pitchbook</a>
      </li>
    </ul>
  </div>
  <div class="company-grid__item">
    <ul class="company-grid__links-group">
      <li class="company-grid__links-item company-grid__links-item--title">
        <div class="company-grid__links-item-group">
          <img
            class="company-grid__links-icon"
            alt="linkedin icon"
            width="32"
            height="32"
            src="@@images_organizer_path__query_stats.svg"
          />
          <a href="#" class="company-grid__links-link">Market</a>
        </div>
      </li>
      <li class="company-grid__links-item">
        <img class="company-grid__links-icon" alt="Pitchbook icon" width="20" height="20" src="@@images_organizer_path__yahoo.png" />
        <a href="#" class="button-link company-grid__links-link">Yahoo Finance</a>
      </li>
      <li class="company-grid__links-item">
        <img class="company-grid__links-icon" alt="Pitchbook icon" width="20" height="20" src="@@images_organizer_path__google-fin.png" />
        <a href="#" class="button-link company-grid__links-link">Google Finance</a>
      </li>
    </ul>
  </div>
  <div class="company-grid__item">
    <ul class="company-grid__links-group company-grid__links-group--unbordered">
      <li class="company-grid__links-item company-grid__links-item--title">
        <div class="company-grid__links-item-group">
          <a href="#" class="company-grid__links-link">Other links</a>
        </div>
      </li>
      <li class="company-grid__links-item">
        <img
          class="company-grid__links-icon"
          alt="whois icon"
          width="20"
          height="20"
          src="@@images_organizer_path__whois.svg"
        />
        <a href="#" class="button-link company-grid__links-link">Whois</a>
      </li>
      <li class="company-grid__links-item">
        <img
          class="company-grid__links-icon"
          alt="similarweb icon"
          width="20"
          height="20"
          src="@@images_organizer_path__similarweb.svg"
        />
        <a href="#" class="button-link company-grid__links-link">Similarweb</a>
      </li>
      <li class="company-grid__links-item">
        <img class="company-grid__links-icon" alt="otta icon" width="20" height="20" src="@@images_organizer_path__otta.svg" />
        <a href="#" class="button-link company-grid__links-link">Otta</a>
      </li>
      <li class="company-grid__links-item">
        <img class="company-grid__links-icon" alt="xing icon" width="20" height="20" src="@@images_organizer_path__xing.svg" />
        <a href="#" class="button-link company-grid__links-link">XING</a>
      </li>
      <li class="company-grid__links-item">
        <img class="company-grid__links-icon" alt="xing icon" width="20" height="20" src="@@images_organizer_path__y-combinator.png" />
        <a href="#" class="button-link company-grid__links-link">Y Combinator</a>
      </li>
    </ul>
  </div>
  <div class="company-grid__item">
    <ul class="company-grid__links-group company-grid__links-group--unbordered">
      <li class="company-grid__links-item company-grid__links-item--title">
        <div class="company-grid__links-item-group">
          <a href="#" class="company-grid__links-link">Layoffs</a>
        </div>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">In the past month</a>
      </li>
      <li class="company-grid__links-item">
        <a href="#" class="button-link company-grid__links-link">This year</a>
      </li>
    </ul>
  </div>
</div>