.organizer {
    padding-top: 32px;
    margin-bottom: 104px;

    *::-webkit-scrollbar {
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: #dddce4;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #b8b6e2;
    }

    .search {
        display: flex;
        gap: 8px;
        margin-bottom: 24px;
        width: 45%;
    }

    &__table {
        width: 100%;
        text-align: left;
        font-size: $font-md;
        background-color: #FCFCFC;
        border-radius: 8px;
    }

    &__head tr th {
        font-weight: bold;
        padding: 22px;
        color: $title-dark;
    }

    &__table-container {
        margin-bottom: 104px;
    }

    &__links {
        margin-top: 24px;
    }

    &__link {
        display: block;
        color: $link-blue;
        font-size: $font-md;
        text-decoration: underline;
        padding: 8px 0;
        margin-bottom: 8px;

        &:hover {
            color: #032091;
            text-decoration: underline;
        }
    }

    &__block-title {
        font-size: 44px;
    }
}

.table {
    border-collapse: collapse;

    &__header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px 0;
    }

    &__result-counter {
        color: $body-dark;
        font-size: 16px;
    }

    &__select {
        width: fit-content;
        color: #4D515C;
        font-size: $font-md;
        cursor: pointer;
        border: none;
        outline: none;
        text-align: center;
    }


    th, td {
        border: 2px solid #F5F5F9;
    }

    tr th:nth-child(1), tr td:nth-child(1) {
        width: 206px;
        vertical-align: middle;
    }

    tr th:nth-child(2), tr td:nth-child(2) {
        width: 170px;
    }

    tr th:nth-child(3), tr td:nth-child(3) {
        width: 193px;
    }

    tr th:nth-child(4), tr td:nth-child(4), tr th:nth-child(5), tr td:nth-child(5) {
        width: 170px;
    }

    tr th:nth-child(6), tr td:nth-child(6) {
        width: 125px;
    }

    tr td:nth-child(7) {
        position: relative;
    }

    tr th img {
        width: 20px;
        height: 20px;
    }

    tr td {
        padding: 22px 12px;
        color: #4D515C;
        font-size: 16px;
        vertical-align: top;
    }

    &__item.name {
        display: flex;
        align-items: center;
    }

    &__link-group {
        display: flex;
        align-items: center;
        padding: 4px 0;

        img {
            margin-right: 8px;
        }
    }

    tbody {
        display: block;
        max-height: 1500px;
        overflow-y: auto;
    }

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    thead {
        width: 100%;
    }

    &__item-link {
        display: block;
        text-decoration: underline;
        color: inherit;

        &:hover {
            text-decoration: underline;
            color: $title-light;
        }
    }

    &__item-link.vacancies {
        width: fit-content;
        color: #222222;
        padding: 6.5px 12px;
        background-color: #D4F8D3;
        border-radius: 6px;
        margin-bottom: 8px;
        text-align: center;
        text-decoration: none;
        font-weight: 500;
    }

    &__item-button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 4px;
    }
}