<section class="sources-evidence">
  <div class="container sources-evidence__container">
    <h2 class="sources-evidence__headline">Sources & Evidence</h2>
    <div class="sources">
      <a href="javascript:" class="sources__item">
        <figure class="sources__figure">
          <p class="sources__text">Why We Write Everything in Go – Bitly, 2022</p>
          <div class="sources__image-wrapper">
            <img class="sources__image"
                 alt="open new window"
                 src="@@images_organizer_path__open-new-window.svg"
                 width="12"
                 height="12"
            >
          </div>
        </figure>
      </a>
      <a href="javascript:" class="sources__item">
        <figure class="sources__figure">
          <p class="sources__text">Why Use Golang for Web Development – Surf, 2022</p>
          <div class="sources__image-wrapper">
            <img class="sources__image"
                 alt="open new window"
                 src="@@images_organizer_path__open-new-window.svg"
                 width="12"
                 height="12"
            >
          </div>
        </figure>
      </a>
      <a href="javascript:" class="sources__item">
        <figure class="sources__figure">
          <p class="sources__text">What's so great about Go? – Stack Overflow Blog, 2020</p>
          <div class="sources__image-wrapper">
            <img class="sources__image"
                 alt="open new window"
                 src="@@images_organizer_path__open-new-window.svg"
                 width="12"
                 height="12"
            >
          </div>
        </figure>
      </a>
    </div>
  </div>
</section>