<header class="header">
  <div class="header__wrapper">
    <a href="#" class="header__logo">
      <img width="40" height="40" class="header__logo-img" src="/assets/images/pages/online/logo.svg" alt="logo" />
      <h3 class="header__logo-title">ReadyToTouch</h3>
    </a>
    <div class="header__stars">
      <iframe
        src="https://ghbtns.com/github-btn.html?user=readytotouch&repo=readytotouch.github.io&type=star&count=true&size=large"
        width="110"
        height="33"
        title="GitHub"
      ></iframe>
    </div>
  </div>
</header>
