<header class="header">
  <div class="header__wrapper">
		<a href="#" class="header__logo">
			<img
				width="30"
				height="30"
				class="header__logo-img"
				src="@@images_organizer_path__go-original.svg"
				alt="organizer logo"
			/>
			<span class="header__logo-label">Organizer</span>
		</a>
    <ul class="header__nav">
      <li class="header__nav-item">
        <a href="/companies" class="header__nav-link">Companies</a>
      </li>
      <li class="header__nav-item">
        <a href="/vacancies" class="header__nav-link active">Vacancies</a>
      </li>
    </ul>
    <div class="header__stars">
      <iframe
        src="https://ghbtns.com/github-btn.html?user=readytotouch&repo=readytotouch.github.io&type=star&count=true&size=large"
        width="110"
        height="33"
        title="GitHub"
      ></iframe>
    </div>
    <div class="header__profile">
      <button class="header__profile-button">
        <img src="https://avatars.githubusercontent.com/u/63663261?v=4&s=48" alt="photo-profile" />
      </button>
      <div class="header__modal modal-profile">
        <div class="modal-profile__profile">
          <figure class="modal-profile__profile-info">
            <img
              src="https://avatars.githubusercontent.com/u/63663261?v=4&s=48"
              class="modal-profile__user-photo"
              width="48"
              height="48"
              alt="photo-profile"
            />
            <figcaption class="modal-profile__profile-name">Yaroslav Podorvanov</figcaption>
          </figure>
          <div class="modal-profile__profile-list">
            <a href="https://github.com/YaroslavPodorvanov" target="_blank" class="modal-profile__link">
              <img src="@@images_home_new_path__github-black.svg" width="20" height="20" alt="GitHub logo" />
              <span class="modal-profile__profile-github">github.com/YaroslavPodorvanov</span>
            </a>
            <a href="https://gitlab.com/YaroslavPodorvanov" target="_blank" class="modal-profile__link">
              <img src="@@images_home_new_path__gitlab.svg" width="20" height="20" alt="GitLab logo" />
              <span class="modal-profile__profile-gitlab">gitlab.com/YaroslavPodorvanov</span>
            </a>
          </div>
        </div>
        <div class="modal-profile__log-out">
          <a href="#" class="modal-profile__button">Log out</a>
        </div>
      </div>
    </div>
  </div>
</header>
<script>
  document.querySelector('.header__profile-button').addEventListener('click', () => {
    document.querySelector('.header__modal').classList.toggle('active')
  })
</script>
