<header class="header">
  <div class="header__wrapper">
    <a href="#" class="header__logo">
      <img
        width="129"
        height="32"
        class="header__logo-img"
        src="@@images_organizer_path__golang-organizer.svg"
        alt="organizer logo"
      />
    </a>
    <div class="header__stars">
      <iframe
        src="https://ghbtns.com/github-btn.html?user=readytotouch&repo=readytotouch.github.io&type=star&count=true&size=large"
        width="110"
        height="33"
        title="GitHub"
      ></iframe>
    </div>
    <a href="#" class="button button--small-padding button--black header__login-button">Log in</a>
  </div>
</header>
