.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  &__card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 24px;
  }
  &__item {
    display: flex;
    align-items: start;
  }
  &__item-img {
    margin: 4px 12px 0 0;
  }
  &__item-value,
  &__item-data {
    margin-bottom: 4px;
    color: $body-light;
    font-size: $font-md;
    font-weight: 400;
    line-height: 150%;
  }
  &__item-data {
    color: $title-dark;
  }
}
