@use 'sass:color';

// stylelint-disable scss/dollar-variable-empty-line-after
.button {
  @include focus-visible;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 48px;
  padding-right: 32px;
  padding-left: 32px;
  transition:
    background-color 0.225s ease,
    box-shadow 0.225s ease,
    border-color 0.225s ease,
    color 0.225s ease;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 500;
  &--small {
    height: 40px;
    padding-right: 24px;
    padding-left: 24px;
  }
  &--medium {
    height: 44px;
    padding-right: 20px;
    padding-left: 20px;
  }
  &--black {
    border-width: 2px;
    border-color: #1c1f29;
    background-color: #1c1f29;
    color: white;
    &:hover {
      border-color: #303647;
      background-color: #303647;
    }
    &:active {
      border-color: #2f2c6d;
      background-color: #2f2c6d;
    }
    &:focus-visible {
      border-color: #b8b6e2;
      background-color: #3f3a92;
      box-shadow: none;
    }
    &:disabled {
      border-color: #ededf8;
      background-color: #ededf8;
      color: #9695a5;
    }
  }
  &--secondary {
    padding: 0 24px;
    border: 2px solid #1c1f29;
    background-color: transparent;
    &:hover {
      border-color: #3f3a92;
      color: #3f3a92;
    }
    &:active {
      border-color: #2f2c6d;
      color: #2f2c6d;
    }
    &:focus-visible {
      border-color: #b8b6e2;
      box-shadow: none;
      color: #111028;
    }
    &:disabled {
      border-color: #96969c;
      color: #96969c;
    }
  }
  &--empty,
  &--empty-icon {
    column-gap: 8px;
    border-width: 2px;
    color: $title-dark;
    font-weight: 400;
    &:hover {
      background-color: #ebedf5;
      color: #3f3a92;
      svg {
        fill: #3f3a92;
      }
    }
    &:active {
      background-color: transparent;
      color: #2f2c6d;
      svg {
        fill: #2f2c6d;
      }
    }
    &:focus-visible {
      border-color: #b8b6e2;
      background-color: #ededf8;
      box-shadow: none;
      color: #3f3a92;
      svg {
        fill: #3f3a92;
      }
    }
    &:disabled,
    &.disabled {
      color: #9695a5;
      svg {
        fill: #9695a5;
      }
    }
  }
  &--empty-icon {
    padding: 0;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &--outline-icon {
    padding: 0;
    border: 2px solid #dddde0;
    background-color: transparent;
    svg {
      width: 20px;
      height: 20px;
    }
    &:hover {
      border-color: $title-dark;
      color: $title-dark;
    }
    &:active {
      border-color: #dddde0;
      color: $title-dark;
    }
    &:focus-visible {
      border-color: #b8b6e2;
      box-shadow: none;
      color: #111028;
    }
    &:disabled {
      border-color: #96969c;
      color: #96969c;
    }
  }
  &--gray {
    border-width: 2px;
    border-color: #ededf8;
    background-color: #ededf8;
    color: #111028;
    &:hover {
      color: #3f3a92;
    }
    &:active {
      color: #2f2c6d;
    }
    &:focus-visible {
      border-color: #b8b6e2;
      box-shadow: none;
      color: #3f3a92;
    }
    &:disabled,
    &.disabled {
      color: #b5b5be;
    }
  }
  &--gray2 {
    padding-right: 24px;
    padding-left: 24px;
    border-width: 2px;
    border-radius: 4px;
    border-color: #ededf8;
    background-color: #ededf8;
    color: #111028;
    &:hover {
      color: #3f3a92;
    }
    &:active {
      color: #2f2c6d;
    }
    &:focus-visible {
      border: 2px solid #b8b6e2;
      box-shadow: none;
      color: #3f3a92;
    }
    &:disabled {
      background-color: #ededf8;
      color: #9695a5;
    }
  }
  &--gray3 {
    border-width: 2px;
    border-radius: 4px;
    border-color: #dcdbf0;
    background-color: #dcdbf0;
    color: #111028;
    &:hover {
      color: #3f3a92;
    }
    &:active {
      color: #2f2c6d;
    }
    &:focus-visible {
      border: 2px solid #b8b6e2;
      box-shadow: none;
      color: #3f3a92;
    }
    &:disabled {
      background-color: #ededf8;
      color: #9695a5;
    }
  }
  &--white {
    border-color: white;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    color: black;
    &:hover,
    &:active {
      border-color: color.adjust(white, $lightness: -5%);
      background-color: color.adjust(white, $lightness: -5%);
    }
  }
  &--white-shadow {
    border-color: white;
    background-color: white;
    color: black;
    &:hover,
    &:active {
      box-shadow: 0 6px 16px #e1e1e1;
    }
  }
  &--bordered-black {
    border-width: 3px;
    border-color: black;
    background-color: white;
    color: black;
    &:hover,
    &:active {
      background-color: black;
      color: white;
    }
  }
  &--bordered-light {
    border-width: 2px;
    border-color: $title-dark;
    color: $title-dark;
    &:hover,
    &:active {
      background-color: #ebedf5;
      color: $title-dark;
    }
  }
  &--bordered-white {
    border-width: 2px;
    border-color: #dddde0;
    color: $title-dark;
    &:hover,
    &:active {
      border-color: $title-dark;
      color: $title-dark;
    }
  }
  &--bordered-black-blank {
    border-width: 3px;
    border-color: black;
    color: black;
    &:hover,
    &:active {
      background-color: black;
      color: white;
    }
  }
  &--bordered-gray {
    padding-right: 24px;
    padding-left: 24px;
    border-width: 2px;
    border-color: color(light, inverse-primary);
    color: color(light, primary);
    color: black;
    &:hover,
    &:active {
      border-color: color(light, primary);
    }
    &:focus-visible {
      border-radius: 8px;
      border-color: color(light, secondary-fixed-dim);
      box-shadow: initial;
    }
  }
  &.in-respond {
    border-color: #eeeff1;
    background-color: #eeeff1;
    color: #828282;
  }
  &--light-link {
    height: auto;
    padding: 0;
    color: $disabled;
    font-weight: 500;
    &:hover,
    &:active {
      color: #3f3a92;
    }
  }
}
.favorite {
  $_this: &;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;
  cursor: pointer;

  #{$_this}__icon {
    pointer-events: none;
    path {
      transition: fill 0.225s ease;
      stroke-width: 2px;
      stroke: black;
      fill: none;
    }
  }
  &.in-favorite {
    #{$_this}__icon {
      path {
        fill: black;
      }
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  &__button-img {
    pointer-events: none;
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
