.custom-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  transition:
    color 0.225s ease,
    fill 0.225s ease;
  stroke-width: 0;
  stroke: currentcolor;
  fill: currentcolor;
}
