<div class="card">
	<figure class="card__header">
		<div class="card__image-overlay card__image-overlay--small">
			<img
				width="112"
				height="56"
				class="card__image card__image--preview"
				alt="card image preview icon"
				src="@@images_organizer_path__elixir-communities-1.png"
			/>
		</div>
		<figcaption class="card__header-caption">
			<a href="/page-stub.html" class="card__headline vacancy__link">Elixir Forum</a>
		</figcaption>
		<a href="#" class="button button--small-padding button--black button--gap-images">
			Visit
			<img width="18" height="18" alt="arrow top icon" src="@@images_common_path__external-link-white.svg">
		</a>
	</figure>
	<p class="card__sub-headline">
		There’s no time like the present to jump into Elixir - the functional language that’s taking the programming world by storm. As well as catering to the community’s more general needs, we have a strong focus on learning, so if you’ve been curious about Elixir or are just starting out - join up - you’ll be in great company!
		This forum is also driven by the community. The more you participate here, the more trust you’ll earn and the more mod-type tools you’ll unlock - our way to reward regular members and your way to help give back to the community.
	</p>
</div>
