.text {
  margin-top: 16px;
  color: #6d6c7c;
  font-size: 18px;
  line-height: 25px;
}
.list {
  margin-top: 16px;
  counter-reset: list;
  &__item {
    @extend .text;
    position: relative;
    margin-top: 0;
    padding-left: 26px;

    counter-increment: list;
    &:before {
      @extend .text;
      content: counter(list) '. ';
      position: absolute;
      top: 0;
      left: 3px;

      margin-top: 0;
    }
  }
}
