.text {
	font-size: 18px;
	line-height: 25px;
	color: #6d6c7c;
	margin-top: 16px;
}

.list {
	margin-top: 16px;
	counter-reset: list;

	&__item {
		@extend .text;

		counter-increment: list;
		position: relative;
		padding-left: 26px;
		margin-top: 0;

		&:before {
			content: counter(list) ". ";
			@extend .text;

			margin-top: 0;
			position: absolute;
			left: 3px;
			top: 0;
		}
	}
}
