.card {
    $_this: &;
    padding: 24px;
    border-radius: 16px;
    background-color: #ffffff;
    position: relative;

    &__vacancy {
        display: grid;
        grid-template-rows: repeat(3, auto);
        column-gap: 26px;
        max-width: 1008px;
        z-index: 20;
    }

    &.hidden {
        #{$_this}__vacancy {
            display: none;
        }

        .card-hidden {
            display: block;
        }
    }

    &__action {
        display: grid;
        grid-template-rows: repeat(auto-fit, 40px);
        grid-column: 2;
        grid-row: 1/-1;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &__header {
        grid-column: 1;
        display: flex;
        margin-bottom: 16px;
    }

    &__image-overlay {
        flex-shrink: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border-radius: 4px;
        overflow: hidden;
    }

    &__header-caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 12px;

        &--project {
            flex-direction: row;
        }
    }

    &__headline {
        font-size: 26px;
        line-height: 120%;
        font-weight: 500;
        color: $title-light;
        align-self: flex-start;
        border-bottom: 1px solid transparent;
        gap: 8px;
        display: flex;
        align-items: center;
        transition: border 0.225s ease, color 0.225s ease;

        &:hover {
            text-decoration: underline;
        }
    }

    &__sub-headline {
        font-size: $font-md;
        line-height: 25px;
        color: $body-dark;
        align-self: flex-start;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &__text {
        font-size: $font-md;
        line-height: 25px;
        color: $body-dark;
        margin: 16px 0;
        grid-column: 1;
        @include trim(2);
        position: relative;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__figure {
        display: flex;
        align-items: center;
    }

    &__figcaption {
        font-size: $font-md;
        line-height: 25px;
        color: $body-dark;
        margin-left: 12px;
    }

    &__figure-salary {
        #{$_this}__figcaption {
            font-weight: 500;
            color: $title-dark;
        }
    }

    &__hidden-salary {
        padding: 2px 12px;
        margin-left: 8px;
        line-height: 27px;
        background-color: $bg-light;
        border-radius: 8px;
        color: $body-dark;
    }


    &--filled {
        #{$_this}__image-overlay {
            background-color: transparent;
        }
    }

    &__company-links {
        font-size: $font-md;
        line-height: 25px;
        color: $title-dark;
        display: flex;
        border-top: 2px solid $body-color;
    }

    &__link-item {
        margin: 24px 24px 0 0;
        display: flex;
        gap: 8px;
        position: relative;
        color: $link-blue;
        border-bottom: 1px solid transparent;
        transition: border .225s ease;

        &:hover {
            border-color: $link-blue;
        }
    }

    &__image {
        width: 112px;
        height: 56px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
    }

    &__details {
        display: flex;
        gap: 24px;

        #{$_this}__figcaption {
            color: $body-light;
        }
    }

    &__action-button-sloth {
        background-image: url("/assets/images/pages/vacancy/sloth.svg");
        background-position: center center;
        background-repeat: no-repeat;
        transition: background-image 0.3s, background-color 0.3s;

        &:hover {
            background-image: url("/assets/images/pages/vacancy/sloth-hide.svg");
            background-color: #ededf8;
            border-radius: 4px;
        }

        &:active {
            background-image: url("/assets/images/pages/vacancy/sloth-hide.svg");
            background-color: transparent;
            border-radius: 0;
        }

        &:focus-visible {
            outline: none;
            background-color: #ededf8;
            border: 2px solid #b8b6e2;
            border-radius: 4px;
        }
    }
}
