// stylelint-disable scss/dollar-variable-empty-line-after
.card {
  $_this: &;
  position: relative;

  padding: 24px;
  border-radius: 16px;
  background-color: white;
  &__vacancy {
    display: grid;
    z-index: 20;
    grid-template-rows: repeat(3, auto);
    max-width: 1008px;
    column-gap: 26px;
  }
  &.hidden {
    #{$_this}__vacancy {
      display: none;
    }
    .card-hidden {
      display: block;
    }
  }
  &__action {
    display: grid;
    position: absolute;
    top: 16px;
    right: 16px;
    grid-column: 2;
    grid-row: 1/-1;
    grid-template-rows: repeat(auto-fit, 40px);
  }
  &__header {
    display: flex;
    grid-column: 1;
    margin-bottom: 16px;
    &--organizer {
      margin-bottom: 0;
    }
  }
  &__image-overlay {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
  }
  &__header-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    &--project {
      flex-direction: row;
    }
  }
  &__headline {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 4px;
    transition:
      border 0.225s ease,
      color 0.225s ease;
    border-bottom: 1px solid transparent;
    color: $title-light;
    font-size: 26px;
    font-weight: 500;
    line-height: 120%;
    gap: 8px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__sub-headline {
    display: flex;
    align-items: center;
    align-self: flex-start;
    color: $body-dark;
    font-size: $font-md;
    line-height: 25px;
    gap: 8px;
  }
  &__text {
    @include trim(2);
    position: relative;
    grid-column: 1;
    margin: 16px 0;
    color: $body-dark;
    font-size: $font-md;
    line-height: 25px;
    &--organizer {
      margin-top: 24px;
    }
    &--full-text {
      @include trim;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__figure {
    display: flex;
    align-items: center;
  }
  &__figcaption {
    margin-left: 8px;
    color: $body-dark;
    font-size: $font-md;
    line-height: 25px;
  }
  &__figure-salary {
    #{$_this}__figcaption {
      color: $title-dark;
      font-weight: 500;
    }
  }
  &__hidden-salary {
    margin-left: 8px;
    padding: 2px 12px;
    border-radius: 8px;
    background-color: $bg-light;
    color: $body-dark;
    line-height: 27px;
  }
  &--filled {
    #{$_this}__image-overlay {
      background-color: transparent;
    }
  }
  &__company-links {
    display: flex;
    border-top: 2px solid $body-color;
    color: $title-dark;
    font-size: $font-md;
    line-height: 25px;
  }
  &__link-item {
    display: flex;
    position: relative;
    margin: 24px 24px 0 0;
    transition: border 0.225s ease;
    border-bottom: 1px solid transparent;
    color: $link-blue;
    gap: 8px;
    &:hover {
      border-color: $link-blue;
    }
  }
  &__image {
    width: 112px;
    height: 56px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
  }
  &__details {
    display: flex;
    gap: 24px;

    #{$_this}__figcaption {
      color: $body-light;
    }
  }
  &__action-button-sloth {
    transition:
      background-image 0.3s,
      background-color 0.3s;
    background-image: url('/assets/images/pages/vacancy/sloth.svg');
    background-repeat: no-repeat;
    background-position: center center;
    &:hover {
      border-radius: 4px;
      background-color: #ededf8;
      background-image: url('/assets/images/pages/vacancy/sloth-hide.svg');
    }
    &:active {
      border-radius: 0;
      background-color: transparent;
      background-image: url('/assets/images/pages/vacancy/sloth-hide.svg');
    }
    &:focus-visible {
      border: 2px solid #b8b6e2;
      border-radius: 4px;
      outline: none;
      background-color: #ededf8;
    }
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
