<div id="modal-feedback"
     class="modal micromodal-slide feedback-modal"
     aria-hidden="true"
>

	<div class="modal__overlay"
	     tabindex="-1"
	     data-micromodal-close
	>

		<div class="modal__container feedback-modal__container"
		     role="dialog"
		     aria-modal="true"
		     aria-labelledby="modal-feedback-title"
		>
			<button class="feedback-modal__button-close"
			        type="button"
			        aria-label="Close modal"
			        data-micromodal-close
			>
				<svg class="feedback-modal__cross-icon" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.805.195a.667.667 0 0 0-.943 0L8 7.057 1.138.195a.667.667 0 0 0-.943 0 .667.667 0 0 0 0 .943L7.057 8 .195 14.862a.667.667 0 0 0 0 .943.667.667 0 0 0 .943 0L8 8.943l6.862 6.862a.666.666 0 1 0 .943-.943L8.943 8l6.862-6.862a.667.667 0 0 0 0-.943Z"/></svg>
			</button>
			<header>
				<h2 class="feedback-modal__title"
				    id="modal-feedback-title"
				>Відгук на вакансію</h2>
				<figure class="feedback-modal__info">
					<img width="16"
					     height="16"
					     alt="info icon"
					     src="/"
					>
					Ви відгукуєтесь без відкриття контактів
				</figure>
			</header>

			<div class="feedback-modal__content"
			     id="modal-feedback-content"
			>
				<h3 class="feedback-modal__content-title">Додайте профіль</h3>
				<p class="feedback-modal__content-text">У вас немає профілю щоб відгукнутись, будь ласка, додайте його</p>
				<div class="feedback-modal__action-group">
					<a class="button button--black"
					   href="#"
					>Додати профіль</a>
					<button class="button button--empty"
					        type="button"
					>
						<svg class="feedback-modal__update-icon" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.641 8.583a6.687 6.687 0 1 1-1.893-5.25h-2.081a.667.667 0 1 0 0 1.334h2.762a1.239 1.239 0 0 0 1.238-1.238V.667A.667.667 0 0 0 14 0a.667.667 0 0 0-.667.667v1.385a7.99 7.99 0 1 0 2.634 6.681.67.67 0 0 0-1.109-.568.655.655 0 0 0-.217.418Z"/></svg>
						Оновити профілі
					</button>
				</div>
			</div>

			<footer class="feedback-modal__footer">
				<button class="button button--empty button--small"
				        type="button"
				        data-micromodal-close
				>Скасувати</button>
				<button type="button"
				        class="button button--black button--small"
				        disabled
				>Відправити</button>
			</footer>

		</div>
	</div>
</div>