@use 'sass:math';

.steps {
  $_this: &;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  max-width: 800px;
  &__item {
    padding: 24px;
    border-radius: 16px;
    background-color: $white;
    &:nth-child(5) {
      grid-area: 3 / 1 / 4 / 3;
    }
  }
  &__step-number {
    margin-bottom: 24px;
    color: $white;
    font-size: 72px;
    font-weight: 500;
    line-height: 80px;
    text-shadow:
      color(light, secondary) 1px,
      color(light, secondary) 0.54px 0.84px,
      color(light, secondary) -0.42px 0.91px,
      color(light, secondary) -0.99px 0.14px,
      color(light, secondary) -0.65px -0.76px,
      color(light, secondary) 0.28px -0.96px,
      color(light, secondary) 0.96px -0.28px;
  }
  &__step-title {
    margin-bottom: 12px;
    color: color(light, on-surface);
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
  }
  &__step-subtitle {
    color: color(light, surface-tint);
    font-size: $font-md;
    line-height: 28px;
  }
  &__item--blue {
    background-color: color(light, secondary);
    color: $white;

    #{$_this}__step-number {
      color: color(light, secondary);
      text-shadow:
        $white 1px,
        $white 0.54px 0.84px,
        $white -0.42px 0.91px,
        $white -0.99px 0.14px,
        $white -0.65px -0.76px,
        $white 0.28px -0.96px,
        $white 0.96px -0.28px;
    }

    #{$_this}__step-subtitle {
      color: color(light, surface-3);
    }

    #{$_this}__step-title {
      color: $white;
    }
  }
}
