.stats {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
  &__item {
    padding: 32px 24px;
    border-radius: 16px;
    background: white;
  }
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__title {
    font-size: 26px;
    font-weight: 500;
    line-height: 120%;
  }
  &__period {
    color: #404c5f;
    font-size: 16px;
  }
}
