@use 'sass:math';

// stylelint-disable scss/dollar-variable-empty-line-after
.header {
  $_this: &;
  display: flex;
  z-index: 50;
  align-items: center;
  height: 64px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1216px;
    height: 100%;
    margin: 0 auto;
  }
  &__logo {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  &__logo-title {
    color: color(light, on-background);
    font-family: $secondary-font-family;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: math.div(19, 19);
  }
  &__profile {
    position: relative;
    font-size: 0;
  }
  &__nav {
    display: flex;
    gap: 8px;
    margin-left: auto;
  }
  &__nav-link {
    position: relative;
    padding: 6.5px 16px;
    transition: all 0.225s ease;
    border-radius: 48px;
    color: $body-dark;
    font-size: $font-md;
    font-weight: 500;
    line-height: 150%;
    &:hover {
      color: $primary-color;
    }
    &.active {
      background-color: #ededf8;
      color: $primary-color;
    }
  }
  &__stars {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &__profile-button {
    width: 40px;
    height: 40px;
    margin-left: 24px;
    overflow: hidden;
    border-radius: 50%;
    img {
      display: block;
      width: inherit;
      height: inherit;
    }
  }
}
.modal-profile.active {
  display: flex;
  pointer-events: all;
}
.modal-profile {
  display: none;
  position: absolute;
  top: 48px;
  right: 0;
  flex-direction: column;
  width: 540px;
  border-radius: 8px;
  background: white;
  pointer-events: none;
  filter: drop-shadow(-1px 0 20px rgba(28, 24, 34, 0.05)) drop-shadow(0 1px 5px rgba(14, 11, 17, 0.15));
  &__profile {
    display: flex;
    flex-direction: column;
  }
  &__profile-info {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    column-gap: 12px;
  }
  &__profile-name {
    width: 100%;
    color: color(light, on-background);
    font-size: 18px;
    font-weight: 500;
    line-height: math.div(24, 18);
  }
  &__user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__profile-list {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }
  &__link {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    column-gap: 12px;
    transition:
      color 0.255s ease,
      background-color 0.255s ease;
    color: color(light, surface-tint);
    font-size: 18px;
    line-height: math.div(24, 18);
    &:hover {
      background-color: color(light, secondary-hover);
      color: color(light, on-background);
    }
  }
  &__log-out {
    padding: 24px 24px 32px;
    border-top: 1px solid color(light, primary-container);
  }
  &__button {
    color: color(light, surface-tint);
    font-size: 18px;
    line-height: math.div(24, 18);
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
