// stylelint-disable scss/dollar-variable-empty-line-after
.header {
  $_this: &;
  display: flex;
  z-index: 50;
  align-items: center;
  height: 64px;
  position: sticky;
  top: 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1216px;
    height: 100%;
    margin: 0 auto;
  }
  &__logo {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  &__logo-title {
    color: #1a1b26;
    font-size: 19px;
    font-weight: 700;
  }
  &__profile {
    position: relative;
  }
  &__nav {
    display: flex;
    gap: 8px;
    margin-left: auto;
  }
  &__nav-link {
    position: relative;
    padding: 6.5px 16px;
    transition: all 0.225s ease;
    border-radius: 48px;
    color: $body-dark;
    font-size: $font-md;
    font-weight: 500;
    line-height: 150%;
    &:hover {
      color: $primary-color;
    }
    &.active {
      background-color: #ededf8;
      color: $primary-color;
    }
  }
  &__stars {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &__profile-button {
    width: 48px;
    height: 48px;
    overflow: hidden;
    img {
      width: inherit;
      height: inherit;
    }
  }
}
.modal-profile.active {
  display: flex;
  pointer-events: all;
}
.modal-profile {
  display: none;
  position: absolute;
  top: 136%;
  right: -57%;
  flex-direction: column;
  width: 540px;
  border-radius: 8px;
  background: white;
  pointer-events: none;
  filter: drop-shadow(0 6px 16px rgba(17, 16, 40, 0.1));
  &:after {
    content: '';
    position: absolute;
    top: -11px;
    right: 40px;
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    border-left: 12px solid transparent;
    border-radius: 1px;
  }
  &__profile {
    display: flex;
    gap: 16px;
    padding: 24px;
    border-bottom: 1px solid #dddce4;
  }
  &__profile-info {
    width: 100%;
    padding-top: 15px;
  }
  &__profile-name {
    width: 100%;
    margin-bottom: 21px;
    color: #020111;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
  }
  &__user-photo {
    width: 48px;
    height: 48px;
  }
  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    transition: color 0.3s;
    color: #575d65;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    gap: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: #0057ff;
    }
  }
  &__log-out {
    padding: 24px;
  }
  &__button {
    display: flex;
    align-items: center;
    gap: 11px;
    transition: color 0.3s;
    color: #575d65;
    &:hover {
      color: #0057ff;
    }
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
