<div class="card card--attach">
    <div class="card__header">
        <a href="/page-stub.html" class="button-link card__headline">Google</a>
    </div>

    <div class="card__group">
        <div class="card__group-block">
            <a class="card__group-item button-link" href="#">Connections 1st</a>
            <a class="card__group-item button-link" href="#">Connections 2nd</a>
        </div>
        <div class="card__group-block">
            <a class="card__group-item button-link" href="#">Connections 1st X</a>
            <a class="card__group-item button-link" href="#">Connections 2nd X</a>
        </div>
    </div>
</div>
