<aside class="search-result__filters">
	<div class="search-result__filter-group">
		<div class="search-result__filter-header">
			<h2 class="search-result__filter-headline">Connections settings</h2>
		</div>

		<div class="filters filters__with-footer">
			<div class="filters__group">
				<div class="filters__elements">
					<div class="textarea">
						<label for="textarea" class="textarea__label">
							Keywords
						</label>
						<textarea id="textarea" class="textarea__item textarea__item--filter" placeholder="Position title, level, or other keywords..."></textarea>
					</div>

				</div>
				<div class="filters__elements">
						<label for="location" class="textarea__label">
							Keywords
						</label>
					<select name="location" id="location" class="select select--filter">
						<option value="all" selected>All location</option>
						<option value="worldwide">Worldwide</option>
					</select>
					</div>
				</div>
			</div>
		<button class="button button--bordered-universe button--full">Update list</button>
		</div>
</aside>
