.skills {

    &__group {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__item {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 12px;
        background: $bg-light;
        border-radius: 8px;
    }

    &__item-img {
        margin-right: 8px;
    }

    &__item-title {
        font-size: $font-md;
        font-weight: 500;
        line-height: 130%;
    }

}