.skills {
	display: grid;
	row-gap: 16px;

	&__item {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: 16px;
	}

	&__caption {
		font-size: 18px;
		line-height: 25px;
		color: #6d6c7c;
		white-space: nowrap;
		min-width: 136px;
	}

	&__images {
		display: grid;
		grid-template-columns: repeat(auto-fill, 40px);
		gap: 16px;
	}
}
