node_modules/
package-lock.json
faviconData.json
assets/html/base/layout/footer.html
assets/html/base/base-new-online.html
assets/html/base/base-online.html
assets/html/base/base-organizer.html
assets/html/online-new.html
assets/html/online-new-auth.html
assets/html/organizer-main-page.html
/.vscode
