// stylelint-disable scss/dollar-variable-empty-line-after
.vacation {
  $_this: &;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 176px;
  height: 68px;
  border: 1px solid transparent;
  border-radius: 4px;
  &[data-vacation-value='0'] {
    --value0: #e74242;
    --shadow-color: var(--value0);
    border-color: var(--value0);

    #{$_this}__days-line {
      background-color: #fce8e8;
    }

    #{$_this}__day {
      color: #f4a4a4;
      &:before {
        background-color: #fce8e8;
      }
      &--0 {
        color: var(--value0);
      }
    }
  }
  &[data-vacation-value='1'],
  &[data-vacation-value='2'],
  &[data-vacation-value='3'],
  &[data-vacation-value='4'],
  &[data-vacation-value='5'] {
    --value12345: #e74242;
    --shadow-color: var(--value12345);

    #{$_this}__days-line {
      &:before {
        width: 32px;
        background-color: var(--value12345);
      }
    }

    #{$_this}__day {
      &--5 {
        color: #7c7b88;
      }
    }
  }
  &[data-vacation-value='6'],
  &[data-vacation-value='7'],
  &[data-vacation-value='8'],
  &[data-vacation-value='9'],
  &[data-vacation-value='10'] {
    --value678910: #ff956d;
    --shadow-color: var(--value678910);

    #{$_this}__days-line {
      &:before {
        width: 60px;
        background-color: var(--value678910);
      }
    }

    #{$_this}__day {
      &--10 {
        color: #7c7b88;
      }
    }
  }
  &[data-vacation-value='11'],
  &[data-vacation-value='12'],
  &[data-vacation-value='13'],
  &[data-vacation-value='14'],
  &[data-vacation-value='15'] {
    --value1112131415: #ffde66;
    --shadow-color: var(--value1112131415);

    #{$_this}__days-line {
      &:before {
        width: 90px;
        background-color: var(--value1112131415);
      }
    }

    #{$_this}__day {
      &--15 {
        color: #7c7b88;
      }
    }
  }
  &[data-vacation-value='16'],
  &[data-vacation-value='17'],
  &[data-vacation-value='18'],
  &[data-vacation-value='19'],
  &[data-vacation-value='20'] {
    --value1617181920: #24a887;
    --shadow-color: var(--value1617181920);

    #{$_this}__days-line {
      &:before {
        width: 120px;
        background-color: var(--value1617181920);
      }
    }

    #{$_this}__day {
      &--20 {
        color: #7c7b88;
      }
    }
  }
  &[data-vacation-value='21'],
  &[data-vacation-value='22'],
  &[data-vacation-value='23'],
  &[data-vacation-value='24'],
  &[data-vacation-value='25'] {
    --value2122232425: #24a887;
    --shadow-color: var(--value2122232425);

    #{$_this}__days-line {
      &:before {
        width: 148px;
        background-color: var(--value2122232425);
      }
    }

    #{$_this}__day {
      &--25 {
        color: #7c7b88;
      }
    }
  }
  &__days-line {
    position: relative;
    width: 148px;
    height: 4px;
    border-radius: 4px;
    background-color: #ededf8;
    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      border-radius: 4px;
    }
  }
  &__day-count {
    margin-bottom: 6px;
    color: $title-dark;
    font-family: $secondary-font-family;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
  }
  &__day {
    position: absolute;
    top: 15px;
    color: #b5b5be;
    font-family: $secondary-font-family;
    font-size: 12px;
    line-height: 11px;
    &:before {
      content: ' ';
      position: absolute;
      bottom: calc(100% + 1px);
      left: 50%;
      width: 1px;
      height: 6px;
      background-color: #ededf8;
    }
    &--0 {
      left: -2px;
    }
    &--5 {
      left: 26px;
    }
    &--10 {
      left: 53px;
    }
    &--15 {
      left: 83px;
    }
    &--20 {
      left: 112px;
    }
    &--25 {
      right: -5px;
    }
  }
}
// stylelint-enable scss/dollar-variable-empty-line-after
