.vacation {
	$_this: &;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 176px;
	height: 68px;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 26px;
	border-radius: 4px;
	border: 1px solid transparent;

	&[data-vacation-value="0"] {
		--value0: #e74242;
		--shadow-color: var(--value0);

		border-color: var(--value0);

		#{$_this}__day-count {
			left: -8px;
			background-color: var(--value0);

			&:before {
				border-top-color: var(--value0);
			}
		}

		#{$_this}__days-line {
			background-color: #fce8e8;
		}

		#{$_this}__day {
			color: #f4a4a4;

			&:before {
				background-color: #fce8e8;
			}

			&--0 {
				color: var(--value0);
			}
		}
	}

	&[data-vacation-value="1"],
	&[data-vacation-value="2"],
	&[data-vacation-value="3"],
	&[data-vacation-value="4"],
	&[data-vacation-value="5"] {
		--value12345: #e74242;
		--shadow-color: var(--value12345);

		#{$_this}__days-line {

			&:before {
				width: 32px;
				background-color: var(--value12345);
			}
		}

		#{$_this}__day {

			&--5 {
				color: #7c7b88;
			}
		}
	}

	&[data-vacation-value="1"] {
		#{$_this}__day-count {
			left: -2px;
		}
	}

	&[data-vacation-value="2"] {
		#{$_this}__day-count {
			left: 2px;
		}
	}

	&[data-vacation-value="3"] {
		#{$_this}__day-count {
			left: 8px;
		}
	}

	&[data-vacation-value="4"] {
		#{$_this}__day-count {
			left: 12px;
		}
	}

	&[data-vacation-value="5"] {
		#{$_this}__day-count {
			left: 21px;
		}
	}

	&[data-vacation-value="6"],
	&[data-vacation-value="7"],
	&[data-vacation-value="8"],
	&[data-vacation-value="9"],
	&[data-vacation-value="10"] {
		--value678910: #ff956d;
		--shadow-color: var(--value678910);

		#{$_this}__days-line {

			&:before {
				width: 60px;
				background-color: var(--value678910);
			}
		}

		#{$_this}__day {

			&--10 {
				color: #7c7b88;
			}
		}
	}

	&[data-vacation-value="6"] {
		#{$_this}__day-count {
			left: 26px;
		}
	}

	&[data-vacation-value="7"] {
		#{$_this}__day-count {
			left: 32px;
		}
	}

	&[data-vacation-value="8"] {
		#{$_this}__day-count {
			left: 38px;
		}
	}

	&[data-vacation-value="9"] {
		#{$_this}__day-count {
			left: 44px;
		}
	}

	&[data-vacation-value="10"] {
		#{$_this}__day-count {
			left: 50px;
		}
	}

	&[data-vacation-value="11"],
	&[data-vacation-value="12"],
	&[data-vacation-value="13"],
	&[data-vacation-value="14"],
	&[data-vacation-value="15"] {
		--value1112131415: #ffde66;
		--shadow-color: var(--value1112131415);

		#{$_this}__days-line {

			&:before {
				width: 90px;
				background-color: var(--value1112131415);
			}
		}

		#{$_this}__day {

			&--15 {
				color: #7c7b88;
			}
		}
	}

	&[data-vacation-value="11"] {
		#{$_this}__day-count {
			left: 54px;
		}
	}

	&[data-vacation-value="12"] {
		#{$_this}__day-count {
			left: 60px;
		}
	}

	&[data-vacation-value="13"] {
		#{$_this}__day-count {
			left: 66px;
		}
	}

	&[data-vacation-value="14"] {
		#{$_this}__day-count {
			left: 72px;
		}
	}

	&[data-vacation-value="15"] {
		#{$_this}__day-count {
			left: 78px;
		}
	}

	&[data-vacation-value="16"],
	&[data-vacation-value="17"],
	&[data-vacation-value="18"],
	&[data-vacation-value="19"],
	&[data-vacation-value="20"] {
		--value1617181920: #b9ea9d;
		--shadow-color: var(--value1617181920);

		#{$_this}__days-line {

			&:before {
				width: 120px;
				background-color: var(--value1617181920);
			}
		}

		#{$_this}__day {

			&--20 {
				color: #7c7b88;
			}
		}
	}

	&[data-vacation-value="16"] {
		#{$_this}__day-count {
			left: 84px;
		}
	}

	&[data-vacation-value="17"] {
		#{$_this}__day-count {
			left: 90px;
		}
	}

	&[data-vacation-value="18"] {
		#{$_this}__day-count {
			left: 96px;
		}
	}

	&[data-vacation-value="19"] {
		#{$_this}__day-count {
			left: 102px;
		}
	}

	&[data-vacation-value="20"] {
		#{$_this}__day-count {
			left: 108px;
		}
	}

	&[data-vacation-value="21"],
	&[data-vacation-value="22"],
	&[data-vacation-value="23"],
	&[data-vacation-value="24"],
	&[data-vacation-value="25"] {
		--value2122232425: #24a887;
		--shadow-color: var(--value2122232425);

		#{$_this}__days-line {

			&:before {
				width: 148px;
				background-color: var(--value2122232425);
			}
		}

		#{$_this}__day {

			&--25 {
				color: #7c7b88;
			}
		}
	}

	&[data-vacation-value="21"] {
		#{$_this}__day-count {
			left: 111px;
		}
	}

	&[data-vacation-value="22"] {
		#{$_this}__day-count {
			left: 117px;
		}
	}

	&[data-vacation-value="23"] {
		#{$_this}__day-count {
			left: 123px;
		}
	}

	&[data-vacation-value="24"] {
		#{$_this}__day-count {
			left: 129px;
		}
	}

	&[data-vacation-value="25"] {
		#{$_this}__day-count {
			left: 135px;
		}
	}

	&__days-line {
		position: relative;
		width: 148px;
		height: 4px;
		border-radius: 4px;
		background-color: #ededf8;

		&:before {
			content: " ";
			position: absolute;
			left: 0;
			top: 0;
			height: 4px;
			border-radius: 4px;
		}
	}

	&__day-count {
		font-family: $secondary-font-family;
		font-weight: 600;
		font-size: 16px;
		line-height: 16px;
		color: #ffffff;
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 2px;
		padding-bottom: 2px;
		background: #111028;
		border-radius: 3px;
		position: absolute;
		left: 0;
		bottom: calc(100% + 9px);

		&:before {
			content: " ";
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 5px solid #111028;
		}

		&:after {
			content: " ";
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			top: calc(100% + 9px);
			left: 50%;
			transform: translateX(-50%);
			background-color: #ffffff;
			box-shadow: 0 0 0 2px var(--shadow-color);
		}
	}

	&__day {
		font-family: $secondary-font-family;
		font-size: 12px;
		line-height: 11px;
		color: #b5b5be;
		position: absolute;
		top: 11px;

		&:before {
			content: " ";
			position: absolute;
			left: 50%;
			bottom: calc(100% + 1px);
			width: 1px;
			height: 4px;
			background-color: #ededf8;
		}

		&--0 {
			left: -2px;
		}

		&--5 {
			left: 26px;
		}

		&--10 {
			left: 53px;
		}

		&--15 {
			left: 83px;
		}

		&--20 {
			left: 112px;
		}

		&--25 {
			right: -5px;
		}
	}
}
