<section class="articles">
  <div class="container articles__container">
    <h2 class="articles__title">Articles</h2>
    <div class="articles__group-wrapper">
      @@include('partials/online-new/partials/articles/article1.html')
      @@include('partials/online-new/partials/articles/article2.html')
      @@include('partials/online-new/partials/articles/article1.html')
      @@include('partials/online-new/partials/articles/article1.html')
      @@include('partials/online-new/partials/articles/article2.html')
      @@include('partials/online-new/partials/articles/article1.html')
      @@include('partials/online-new/partials/articles/article1.html')
    </div>
  </div>
</section>
