<section class="hero">
  <div class="hero__wrapper">
    <img
      class="hero__top-flag"
      alt="Flag of Ukraine with waves"
      width="24"
      height="24"
      src="@@images_home_new_path__ua_flag_with_waves.svg"
    />
    <div class="hero__main">
      <h1 class="hero__title">ReadyToTouch is a space to help you find jobs</h1>
      <p class="hero__subtitle">Our projects are u8views, Organizer, and others. Log in to support.</p>
    </div>
    <div class="hero__buttons-group">
      <a href="#" class="button button--bordered-gray hero__button">
        <img
          width="20"
          height="20"
          src="@@images_home_new_path__github-black.svg"
          alt="GitHub logo"
          class="button-icon"
        />Log in with GitHub
      </a>
      <a href="#" class="button button--bordered-gray hero__button">
        <img
          width="20"
          height="20"
          src="@@images_home_new_path__gitlab.svg"
          alt="GitLab logo"
          class="hero__button-icon"
        />Log in with GitLab
      </a>
      <a href="#" class="button button--bordered-gray hero__button">
        <img
          width="21"
          height="20"
          src="@@images_home_new_path__bitbucket.svg"
          alt="Bitbucket logo"
          class="hero__button-icon"
        />Log in with Bitbucket
      </a>
    </div>
  </div>
</section>
