<section class="organizer-card">
  <div class="container organizer-card__container">
    <figure class="organizer-card__figure">
      <picture class="organizer-card__picture">
        <source
          type="image/webp"
          srcset="
            @@images_home_new_path__organizer/organizer.webp,
            @@images_home_new_path__organizer/organizer@2x.webp 2x
          "
        />
        <source
          media="@@minWidth"
          srcset="
            @@images_home_new_path__organizer/organizer.jpg,
            @@images_home_new_path__organizer/organizer@2x.jpg 2x
          "
        />
        <img
          class="organizer-card__image"
          width="608"
          height="538"
          loading="lazy"
          srcset="@@images_home_new_path__organizer/organizer@2x.jpg 2x"
          src="@@images_home_new_path__organizer/organizer.jpg"
          alt="organizer page screen"
        />
      </picture>
      <figcaption class="organizer-card__caption">
        <header class="organizer-card__header">
          <span class="organizer-card__header-text">Service status:</span>
          <span class="badge badge--new">New</span>
          <span class="badge badge--work-in-progress">Work in progress</span>
        </header>
        <h2 class="organizer-card__headline">Direct Contract Job Search Organizer</h2>
        <p class="organizer-card__description">
          A list of useful links to simplify your job search. The basis is a list of companies searching for Golang
          developers.
        </p>
        <footer class="organizer-card__footer">
          <iframe
            src="https://ghbtns.com/github-btn.html?user=readytotouch&amp;repo=golang-companies-organizer&amp;type=star&amp;count=true&amp;size=large"
            width="120"
            height="33"
            title="GitHub"
          ></iframe>
          <a class="button button--black" target="_blank" href="https://golang-companies-organizer.readytotouch.com/">
            Try Organizer
            <img width="12" height="12" alt="arrow top icon" src="@@images_common_path__arrow-small-top.svg" />
          </a>
        </footer>
      </figcaption>
    </figure>
  </div>
</section>
