<section class="top-projects">
  <div class="container top-projects__container">
    <div class="top-projects__group">
      <a class="top-projects__link" href="#">
        <figure class="top-projects__figure">
          <img
            class="top-projects__image"
            width="129"
            height="32"
            alt="organizer logo"
            src="@@images_home_new_path__organizer.svg"
          />
        </figure>
      </a>
      <a class="top-projects__link" href="https://u8views.com/" target="_blank">
        <figure class="top-projects__figure">
          <img
            class="top-projects__image"
            width="109"
            height="35"
            alt="u8views logo"
            src="@@images_home_new_path__u8views.svg"
          />
        </figure>
      </a>
      <a class="top-projects__link" href="https://doutivity.github.io/" target="_blank">
        <figure class="top-projects__figure">
          <img
            class="top-projects__image"
            width="111"
            height="41"
            alt="doutivity logo"
            src="@@images_home_new_path__doutivity.svg"
          />
        </figure>
      </a>
      <a class="top-projects__link" href="https://json-to-proto.github.io/" target="_blank">
        <figure class="top-projects__figure">
          <img
            class="top-projects__image"
            width="157"
            height="18"
            alt="JSON-to-PROTO logo"
            src="@@images_home_new_path__json_to_proto.svg"
          />
        </figure>
      </a>
      <a class="top-projects__link" href="https://xml-to-go.github.io/" target="_blank">
        <figure class="top-projects__figure">
          <img
            class="top-projects__image"
            width="117"
            height="18"
            alt="XML-to-GO logo"
            src="@@images_home_new_path__xml_to_go.svg"
          />
        </figure>
      </a>
    </div>
  </div>
</section>
