@use 'sass:color';
@use 'sass:math';

.card {
  $_this: &;
  position: relative;

  padding: 24px;
  border-radius: 16px;
  background-color: white;
  &__header {
    display: flex;
    grid-column: 1;
    align-items: center;
    margin-bottom: 20px !important;
  }
  &__image-overlay {
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 56px;
    margin-right: 16px;
    overflow: hidden;
    border-radius: 8px;
  }
  &__image {
    width: inherit;
    aspect-ratio: 2 / 1;
    &--preview {
      width: initial;
      aspect-ratio: initial;
    }
  }
  &__headline {
    display: flex;
    align-items: center;
    align-self: flex-start;
    transition:
      border 0.225s ease,
      color 0.225s ease;
    border-bottom: 1px solid transparent;
    color: color(light, on-background);
    font-size: 26px;
    font-weight: 500;
    line-height: math.div(32, 26);
    gap: 8px;
    &:hover {
      text-decoration: underline;
    }
    &--empty {
      color: color(light, on-disable);
    }
  }
  &__sub-headline {
    display: flex;
    align-items: center;
    align-self: flex-start;
    color: color(light, surface-tint);
    font-size: $font-md;
    line-height: 25px;
    gap: 8px;
  }
  .button {
    margin-left: auto;
  }
}
